doctype html
//
  Solid State by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Tutorials4U
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bootstrap2/css/main.css')
    link(rel='stylesheet', href='bootstrap2/css/ie9.css')
    link(rel='stylesheet', href='bootstrap2/css/ie8.css')
    link(rel='stylesheet', href='bootstrap2/css/font-awesome.min.css')
    
  body
    // Page Wrapper
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='/') Tutorials4U
        nav
          a(href='#menu') Menu
      // Menu
      nav#menu
        .inner
          h2 Menu
          ul.links
            li
              a(href='/') Home
            li
              a(href='tutorials') Tutorials
            li
              a(href='resources') Resources
            li
              a(href='about') About
            li
              a(href='#') Log In
            li
              a(href='#') Sign Up
          a.close(href='#') Close
      // Banner
      section#banner
        .inner
          .logo
            span.icon.fa-tv
          h2 Welcome to Tutorials4U
          p
            | Feel free to look around! We are under construction.
            
      // Wrapper
      section#wrapper
        // One
        section#one.wrapper.spotlight.style1
          .inner
            a.image(href='tutorials')
              img(src='bootstrap2/images/unity1.jpg', alt='')
            .content
              h2.major Tutorials
              p
                | Wanna learn about our tutorials? Please go check them out!
              a.special(href='tutorials') Learn more
        // Two
        section#two.wrapper.alt.spotlight.style2
          .inner
            a.image(href='resources')
              img(src='bootstrap2/images/3-gears-hi.png', alt='')
            .content
              h2.major Resources
              p
                |  You can't have tutorials without resources. Check out the resources page for help!
              a.special(href='resources') Learn more
        // Three
        section#three.wrapper.spotlight.style3
          .inner
            a.image(href='about')
              img(src='bootstrap2/images/marshmallow.png', alt='')
            .content
              h2.major About the Creator
              p
                | Wanna know about the team behind Tutorials4U? Click to learn more!
              a.special(href='about') Learn more
        // Four
        section#four.wrapper.alt.style1
          .inner
            h2.major Want tutorials? You got them!
            p
              | Here are recent tutorials!
            section.features
              article
                a.image(href='tutorials')
                  img(src='bootstrap2/images/pic04.jpg', alt='')
                h3.major Tutorial 1
                p
                  | Intro
                a.special(href='tutorials') Learn more
              article
                a.image(href='tutorials')
                  img(src='bootstrap2/images/pic05.jpg', alt='')
                h3.major Tutorial 2
                p
                  | Intro 2
                a.special(href='tutorials') Learn more
              article
                a.image(href='tutorials')
                  img(src='bootstrap2/images/pic06.jpg', alt='')
                h3.major Tutorial 3
                p
                  | Intro 3
                a.special(href='tutorials') Learn more
              article
                a.image(href='tutorials')
                  img(src='bootstrap2/images/pic07.jpg', alt='')
                h3.major Tutorial 4
                p
                  | Intro 4
                a.special(href='tutorials') Learn more
            ul.actions
              li
                a.button(href='tutorials') Browse All Tutorials
      // Footer
      section#footer
        .inner
          h2.major Get in touch
          p
            | Here is how to Contact Tutorials4U
          form(method='post', action='#')
            .field
              label(for='name') Name
              input#name(type='text', name='name')
            .field
              label(for='email') Email
              input#email(type='email', name='email')
            .field
              label(for='message') Message
              textarea#message(name='message', rows='4')
            ul.actions
              li
                input(type='submit', value='Send Message')
          ul.contact
            li.fa-home
              | Tutorials4U
              br
              | 									5000 MacArthur Blvd
              br
              | 									Oakland, CA 94613
            li.fa-envelope
              a(href='#') aleyvamcmurtry@mills.edu
            li
              a.icon.fa-github(href='#')
                span.label Github https://github.com/aleyvamcmurtry/tutorials4u
            li.fa-twitter
              a(href='#') twitter.com/angelsayshi
            li.fa-facebook
              a(href='#') facebook.com/gel.ray1
            li.fa-instagram
              a(href='#') instagram.com/tinymarshmallowdemon
          ul.copyright
            li © Tutorials4U Inc. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
              a(href='http://aleymcm.com') Angelica L.M. 
    // Scripts
    script(src='bootstrap2/js/skel.min.js')
    script(src='bootstrap2/js/jquery.min.js')
    script(src='bootstrap2/js/jquery.scrollex.min.js')
    script(src='bootstrap2/js/util.js')
    //if lte IE 8
      script(src='bootstrap2/js/ie/respond.min.js')
    script(src='bootstrap2/js/main.js')
