doctype html

html
  head
    title Tutorials4U
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='bootstrap2/css/main.css')
    link(rel='stylesheet', href='bootstrap2/css/ie9.css')
    link(rel='stylesheet', href='bootstrap2/css/ie8.css')
    link(rel='stylesheet', href='bootstrap2/css/font-awesome.min.css')
    

  body
    #page-wrapper
      // Header
      header#header
        h1
          a(href='index.html') Tutorials4U
        nav
          a(href='#menu') Menu
      // Menu
      nav#menu
        .inner
          h2 Menu
          ul.links
            li
              a(href='/') Home
            li
              a(href='tutorials') Tutorials
            li
              a(href='resources') Resources
            li
              a(href='about') About
            li
              a(href='#') Log In
            li
              a(href='#') Sign Up
          a.close(href='#') Close
      // Wrapper
      section#wrapper
        header
          .inner
            h2 Tutorials
            p This page is currently being worked on. Come back in 3 months. 
        // Content
        .wrapper
          .inner
            h3.major Tutorial 1
            p
              | T
            p
              | T2
            h3.major Tutorial 2
            p
              | TT
            section.features
              article
                a.image(href='#')
                  img(src='images/pic04.jpg', alt='')
                h3.major T
                p
                  | T
                a.special(href='#') Learn more
              article
                a.image(href='#')
                  img(src='images/pic05.jpg', alt='')
                h3.major T
                p
                  | T
                a.special(href='#') Learn more
      // Footer
      section#footer
        .inner
          ul.copyright
            li © Untitled Inc. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
     // Scripts
    script(src='bootstrap2/js/skel.min.js')
    script(src='bootstrap2/js/jquery.min.js')
    script(src='bootstrap2/js/jquery.scrollex.min.js')
    script(src='bootstrap2/js/util.js')
    //if lte IE 8
      script(src='bootstrap2/js/ie/respond.min.js')
    script(src='bootstrap2/js/main.js')
