<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4U</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Welcome!</h2>
          <p>Here is the place where all of the code we have used for our first virtual reality game exists.  </p>
          
          <p>The code that we have already created are called: ColorChange and CountWinOrLose.</p>
        </div>
      </header>
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          <h3 class="major">Name of Code</h3>
          <h4>Where its located</h4>
          <h4>Link to original chapter</h4>
          <p>Code</p>
          
          <h3 class="major">Name of Code</h3>
          <h4>Where its located</h4>
          <h4>Link to original chapter</h4>
          <p>Code</p>
          

             <img src="bootstrap2/images/ChangeColor.png" alt="" height="500" width="500">
                        <p>using System.Collections;</p>
                        <p>using System.Collections.Generic;</p>
                        <p>using UnityEngine;</p>
                        
                       <p> public class ColorChange : MonoBehaviour {</p>
                        
                           <p> public Renderer rend; //Following Unity Naming Conventions</p>
                            
                           <p> // Use this for initialization</p>
                            <p>void Start()
                            {</p>
                             <p>  }</p>
                        
                           <p> // Update is called once per frame</p>
                          <p>  void Update()
                            {</p>
                              
                            <p>}</p>
                        
                           <p> public void ChangeBallColor()
                            {</p>
                            <p>    rend = GetComponent<Renderer>();</p>
                            <p>    rend.material.SetColor("_Color", Color.green);</p>
                                
                               
                          <p>       }</p>
                       <p> }</p>






          <h3 class="major">Name of Code</h3>
                  <h4>Where its located</h4>
                  <h4>Link to original chapter</h4>
                  <p>Code</p>
 
                   <img src="bootstrap2/images/CountWinOrLose1.png" alt="" height="500" width="500">
                    <img src="bootstrap2/images/CountWinOrLose2.png" alt="" height="500" width="500">
                    <img src="bootstrap2/images/CountWinOrLose3.png" alt="" height="500" width="500">
                    <img src="bootstrap2/images/CountWinOrLose4.png" alt="" height="500" width="500">
                              <p>
                    using System.Collections;</p>
                    <p>using System.Collections.Generic;</p>
                    <p>using UnityEngine;</p>
                    <p>using UnityEngine.UI;</p>
                    
                    <p>public class CountWinOrLose : MonoBehaviour
                    {</p>
                    
                       <p> //For Counting</p>
                       <p> public int numOfBalls;</p>
                        <p>int actualBallsNum = 10;</p>
                        <p>public Text countText;</p>
                    
                        <p>//For Time</p>
                       <p> public float timeLeft = 10f;</p>
                        <p>public Text timeText;</p>
                    
                       <p> // Use this for initialization</p>
                        <p>void Start()
                        {</p>
                    
                        <p>}</p>
                    
                       <p> // Update is called once per frame</p>
                        <p>void Update()
                        {</p>
                           <p> timeLeft -= Time.deltaTime;</p>
                            <p>numOfBalls = 0;</p>
                    
                            <p>startText.text = (timeLeft).ToString("0");</p>
                    
                           <p> //For Counting</p>
                           <p> numOfBalls = CountingUp(numOfBalls);</p>
                    
                            <p>//For Time</p>
                            <p>if (timeLeft < 1)
                            {</p>
                              <p>  WonOrLost(timeLeft, numOfBalls);</p>
                    
                           <p> }</p>
                    
                        <p>}</p>
                    
                    
                       <p> private int CountingUp(int countCurr)
                        {</p>
                           <p> GameObject gameCurr;</p>
                           <p> GameObject[] gameItems = GameObject.FindGameObjectsWithTag("SphereBalls");</p>
                    
                           <p> for (int i = 0; i < actualBallsNum; i++)
                            {</p>
                    
                               <p> gameCurr = gameItems[i];</p>
                    
                               <p> if (gameCurr.GetComponent<Renderer>().material.color == Color.green)
                                {</p>
                                  <p>  countCurr++;</p>
                                  <p>  countText.text = countCurr + "";</p>
                                  
                              <p>  }</p>
                    
                           <p> }</p>
                           <p> return countCurr;</p>
                       <p> }</p>
                    
                    
                        <p>private bool WonOrLost(float timeEnd, int countEnd)
                        {</p>
                          <p>  if (timeEnd < 1 && countEnd == actualBallsNum)
                            {</p>
                           <p>     timeLeft = 0;</p>
                            <p>    startText.text = (timeEnd).ToString("WINNER");</p>
                            <p>    startText.color = Color.green;</p>
                            <p>    countText.text = "You won";</p>
                            <p>    return true;</p>
                    
                           <p> }
                            else if (timeEnd < 1 && countEnd != actualBallsNum)
                            {</p>
                          <p>      timeLeft = 0;</p>
                         <p>       startText.text = (timeEnd).ToString("FAIL");</p>
                         <p>       startText.color = Color.red;</p>
                         <p>       countText.text = " You lost";</p>
                         <p>       return false;</p>
                         <p>   }</p>
                        <p>    return false;</p>
                       <p>}</p>
                    
                    <p>}</p>
                    
                    
        </div>
      </div>
    </section>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
