<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <!-- Page Wrapper-->
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
          <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Tutorial 3 Help</h2>
        
         
        </div>
      </header>
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          <section>
            <h3 class="major">Tutorial 3 Part 1</h3>
            
          </section>
          <section>
            <h3 class="major">Tutorial 3 Part 2</h3>
          </section>
          
          <section>
            <h3 class="major">Tutorial 3 Part 3</h3>
            
            
          <p>
            using System.Collections;
            using System.Collections.Generic;
            using UnityEngine;
            using UnityEngine.UI;
            
            public class SphereCount : MonoBehaviour {
            
                //For Counting
                public int numOfSphere3;
                int actualSphere = 8;
                public Text countText;
            
                //For Time
                public float timeYY = 10f;
                public float timeStart = 0f;
                public Text startText; // used for showing countdown from 3, 2, 1 
            
            
                // Use this for initialization
                void Start() {
            
                }
            
                // Update is called once per frame
                void Update() {
                    timeYY -= Time.deltaTime;
                    numOfSphere3 = 0;
                  
                    startText.text = (timeYY).ToString("0");
            
                    //For Counting
                    numOfSphere3 = CountingUp(numOfSphere3);
            
                    //For Time
                    if (timeYY < 1)
                    {
                        WonOrLost(timeYY, numOfSphere3);
                       
                    }
            
                }
            
            
                 private int CountingUp(int countB)
                 {
                    GameObject gameY;
                    GameObject[] gameSpheres = GameObject.FindGameObjectsWithTag("SphereBalls");
            
                    for (int i = 0; i < 8; i++)
                    {
            
                        //had at <9, forgot 0 is an part in the index,
                        //so was giving me IndexOutOfRangeException
                        //cause there was nothing at index spot 8
                        gameY = gameSpheres[i];
            
                        if (gameY.GetComponent<Renderer>().material.color == Color.green)
                        {
                            countB++;
                            countText.text = countB + "";
                            // Debug.Log("BAHHHH" + numOfSphere3);
                        }
            
                    }
                    return countB;
                }
            
            
                private bool WonOrLost(float timeX, int countA)
                {
                    if (timeX < 1 && countA == 8)
                    {
                        //startText = gameObject.GetComponent<Text>();
                       // timeYY = 0;
                        Debug.Log("BAHHHH" + countA);
                       // startText.text = (timeX).ToString("WINNER");
                       // startText.color = Color.green;
                       // countText.text = " You won";
                        Debug.Log("WOn at" + countA);
                        timeYY = 0;
                        startText.text = (timeYY).ToString("WINNER");
                        startText.color = Color.green;
                        countText.text = " You won";
                        return true;
            
                    }
                    else if (timeX < 1 && countA != 8)
                    {
                        Debug.Log("BwhwhwiH" + countA);
                        // timeYY = 0;
                        //startText.text = (timeX).ToString("FAIL");
                        //startText.color = Color.red;
                        timeYY = 0;
                        startText.text = (timeYY).ToString("FAIL");
                        startText.color = Color.red;
                        countText.text = " You lost";
                        return false;
                    }
                    return false;
                }
            
            }
          </p>  
            
            
          </section>
          
          <section>
            <h3 class="major">Tutorial 3 Part 4</h3>
            
          </section>
         </div>
       </div>

    </body>
    <!-- Footer-->
    <section id="footer">
      <ul class="copyright">
        <li>© Untitled Inc. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>