<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <!-- Page Wrapper-->
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
          <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Tutorial 4 Help</h2>
        </div>
      </header>
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          
          <p>Hello! Welcome to the Help page. Below, you can find assistance with the difference sections of Tutorial 4. </p>
          <p>To go back to Tutorial 4, click <a href="tutorials4">here!</a></p>
          
          <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
          
          
          <section>
            <h3 class="major">Tutorial 4 Part 1</h3>
            
          </section>
          <section>
            <h3 class="major">Tutorial 4 Part 2</h3>
            
             <p>If you are here from Tutorial 4 Section 2, then you are here because Unity did not download Android SDK (or JDK or NDK).</p>
             
          <p>Click out
          of Build Settings, click on Edit on the Menu Bar, and then click on Preferences.</p>
        
          <h5>Fix 1:</h5>
          
          <p>Make sure that you are searching in External Tools. </p>
          <p>Android SDK Tools Installed with Unity should be clicked.</p>
          <p>Unclick it for the moment and check to see if everything looks correct. 
          The file path, or the path that the computer knows to take when it is looking for 
          a specific item, should look like this.</p>
          
          <p>C:\Program Files\Unity\Hub\Editor\2019.3.1f1\Editor\Data\PlaybackEngines\AndroidPlayer\SDK</p>
          
          <p>If everything looks good, then you should be fine.</p>
          <p>If it does not, and you see AndroidPlayer/SDK, click on on / and replace it with \. </p>
          <p>They look very similar, but unfortunately it changes the path the computer looks at. 
          So instead of the computer looking inside the AndroidPlayer folder, it is looking at AndroidPlayer and stopping.
          This is causing for the SDK not to be found. </p>
          
          <p>If this is the issue you had, change it, exit out of External Tools, and try Build and Run again. </p>
          
          <h5>Fix 2:</h5>
          
          <p>If, when attempting Fix 1, you continue attempting to replace / with \ and then when you go back, the path is empty,
          click on the box next to Android SDK Tools, copy the link, and put it in a text document, like Notes or Notepad. </p>
          <p>Follow the path by searching for <b>This PC</b>, click on <b>Windows (C:)</b>, and then just clicking every folder that is on that path.
          So in this case, Windows (C:), then Program Files, then Unity, then Hub, Editor, 2019.3.1f1,... until I reach AndroidPlayer and look to see
          if a folder called SDK is in there.</p>
          
          <p>For Mac users, please follow a similar route, but for the Mac interface. </p>
          
          <p>If SDK is not in there, then something may have gone wrong when Unity installed Android. </p>
             
             
             
          <p>We can either try to have our project use an older version of Unity (as described in the forum below, or we can download the 
          individual Android SDK. </p>
          
          <p>The forum below has information that you can follow to hopefully get your game working.</p>
          
          <p>Please click on this link to a forum and see if it can help you <a href="https://forum.unity.com/threads/android-ndk-missing.689122/">Unity Forum</a></p>
          <p></p>
            
          </section>
          
          <section>
            <h3 class="major">Tutorial 4 Part 3</h3>
            
          </section>
          
          <section>
            <h3 class="major">Tutorial 4 Part 4</h3>
            
          </section>
         </div>
       </div>

    </body>
    <!-- Footer-->
    <section id="footer">
      <ul class="copyright">
        <li>© Untitled Inc. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>