<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <!-- Page Wrapper-->
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
          <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Menu Bar Help</h2>
       
           <section>
            <h3 class="major">Table</h3>
            
            <h4>File </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>New Scene</td>
                    <td>Makes a New Scene.</td>
                    <td>Ctrl + N</td>
                  </tr>
                  <tr>
                    <td>Open Scene</td>
                    <td>Opens an existing Scene.</td>
                    <td>Ctrl + O</td>
                  </tr>
                  <tr>
                    <td>Save Scenes</td>
                    <td>Saves the Scene you are working on.</td>
                    <td>Ctrl + S</td>
                  </tr>
                  <tr>
                    <td>Save Scenes as...</td>
                    <td>Save the Scene under a new name.</td>
                    <td>Ctrl + Shift + S</td>
                  </tr>
                  <tr>
                    <td>New Project...</td>
                    <td>Creates a new project</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Open Project...</td>
                    <td>Opens an existing Project.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Save Project</td>
                    <td>Save the project you are working on.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Build Settings...</td>
                    <td>So you can build your project so you can see how it will show on your computer or phone.</td>
                    <td>Ctrl + Shift + B</td>
                  </tr>
                    <tr>
                    <td>Build & Run</td>
                    <td>Allows you to find a project you are working on and allows you to run or see it.</td>
                    <td>Ctrl + B</td>
                  </tr>
                    <tr>
                    <td>Exit</td>
                    <td>This allows you to quit and leave Unity. </td>
                    <td></td>
                  </tr>
                    
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Edit </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Undo</td>
                    <td>Undo what you just did, whether it be an item you created or a mistake you made.</td>
                    <td>Ctrl + Z</td>
                  </tr>
                  <tr>
                    <td>Redo</td>
                    <td>If you just clicked on Undo and you undid or deleted something you actually wanted on accident,
                    this will allow for the item or thing to come back.</td>
                    <td>Ctrl + Y</td>
                  </tr>
                  <tr>
                    <td>Cut</td>
                    <td>You can take a piece or a whole thing and move it somewhere else. Click on Paste when you 
                    know where you want to put it. </td>
                    <td>Ctrl + X</td>
                  </tr>
                  <tr>
                    <td>Copy</td>
                    <td>Did you make an item that you want more than one of or a piece of it? Click on the item and then click on 
                    Copy and you can make a second version of an item that's pretty much a copy of it. To place the item, 
                    Paste it.</td>
                    <td>Ctrl + C</td>
                  </tr>
                  <tr>
                    <td>Paste</td>
                    <td>This allows you to place the item you wanted down.</td>
                    <td>Ctrl + V</td>
                  </tr>
                  <tr>
                    <td>Duplicate</td>
                    <td>Like Copy, this allows you to make another version of something. Unlike Copy, 
                    Duplicate only allows you to copy or make another full version of something and it will automatically
                    Paste it in the location you are in. </td>
                    <td>Ctrl + D</td>
                  </tr>
                    <tr>
                    <td>Delete</td>
                    <td>This allows you to delete something you don't want or need anymore.</td>
                    <td>Shift + Del</td>
                  </tr>
                  <tr>
                    <td>Frame Selected</td>
                    <td>This allows you to select and choose an object in your hierarchy to move it.</td>
                    <td>F</td>
                  </tr>
                    <tr>
                    <td>Lock View to Selected</td>
                    <td>    </td>
                    <td>Shift + F</td>
                  </tr>
                  <tr>
                    <td>Find</td>
                    <td>Allows for you to search for an object or item you are looking for.</td>
                    <td>Ctrl + F</td>
                  </tr>
                    <tr>
                    <td>Select All</td>
                    <td>Allows for you to select all of the items.</td>
                    <td>Ctrl + A</td>
                  </tr>
                  <tr>
                    <td>Preferences...</td>
                    <td>VERY IMPORTANT! WILL USE AND GO BACK TO MULTIPLE TIMES!!!!
                    This opens up a different information box (GUI) and allows you to change, edit, and manage
                    some of the behind the scenes aspect of your Unity project. 
                    You can change General, External Tools, Colors, Keys, GI Cache, 2D, and Cache Server.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Modules...</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Play</td>
                    <td>    </td>
                    <td>Ctrl + P</td>
                  </tr>
                    <tr>
                    <td>Pause</td>
                    <td>    </td>
                    <td>Ctrl + Shift + P</td>
                  </tr>
                  <tr>
                    <td>Step</td>
                    <td>    </td>
                    <td>Ctrl + Atl + P</td>
                  </tr>
                    <tr>
                    <td>Sign in...</td>
                    <td>You can sign into Unity and save yourself stuff, as well
                    as get new assets.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Sign out</td>
                    <td>You can sign out so either someone else can sign in and start
                    a project.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Selection</td>
                    <td>    </td>
                    <td>--->
                    <li>  </li>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                    </td>
                  </tr>
                  <tr>
                    <td>Project Settings</td>
                    <td>    </td>
                    <td>--->
                          <li>  Input</li>
                          <li>Tags and Layers</li>
                          <li>Audio </li>
                          <li>Time</li>
                          <li>Player</li>
                          <li>Physics</li>
                          <li>Physics 2D</li>
                          <li>Quality</li>
                          <li>Graphics </li>
                          <li>Network</li>
                          <li>Editor</li>
                          <li>Script Execution Order</li>
                          <li>Preset Manage</li>
                          </td>
                  </tr>
                    <tr>
                    <td>Graphics Emulation</td>
                    <td>    </td>
                    <td>---->
                     <li>No Emulation</li>
                          <li>OpenGL ES 3.0</li>
                          <li>OpenGL ES 2.0 </li>
                          <li>Shader Hardware Tier 1</li>
                          <li>Shader Hardware Tier 2</li>
                          <li>Shader Hardware Tier 3</li>
                          </td>
                  </tr>
                  <tr>
                    <td>Network Emulation</td>
                    <td>    </td>
                    <td>---> 
                          <li>None</li>
                          <li>Broadband</li>
                          <li>DSL</li>
                          <li>ISDN</li>
                          <li>Dial-Up</li>
                          </td>
                          </tr>
                    <tr>
                    <td>Snap Settings...</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Assets </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create</td>
                    <td>    </td>
                    <td>--->
                          <li>C# Script</li>
                          <li>Shader --->
                              	Standard Surface Shader
                                Unlit Shader
                                Image Effect Shader
                                Compute Shader
                                Shader Variant Collection
                          </li>
                          <li>Testing --->
                            		Tech Assembly Folder
                            		C# Test Script
                          </li>
                          <li>Playables --->
                            		Playable Behaviour C# Script
                            		Playable Asset C# Script</li>
                          <li>Assembly Definition</li>
                          <li>Scene</li>
                          <li>Prefab</li>
                          <li>Audio Mixer</li>
                          <li>Material</li>
                          <li>Lens Flare</li>
                          <li>Render Texture</li>
                          <li>Lightmap Parameters</li>
                          <li>Custom Render Texture</li>
                          <li>Sprite Atlas</li>
                          <li>Sprites --->
                              		Square
                              		Triangle
                                  Diamond
                                  Hexagon
                                  Circle
                                  Polygon
                          </li>
                          <li>Tile</li>
                          <li>Animator Controller</li>
                          <li>Animation</li>
                          <li>Animator Override Controller</li>
                          <li>Avatar Mask</li>
                          <li>Timeline</li>
                          <li>Physic Material</li>
                          <li>Physics Material 2D</li>
                          <li>GUI Skin</li>
                          <li>Custom Font</li>
                          <li>Legacy --->
                              		Cubemap
                              		UnityScript (deprecated)</li>
                          <li>UIElements VIew</li>
                          </td>
                  </tr>
                  <tr>
                    <td>Show in Explorer</td>
                    <td> </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Open</td>
                    <td> </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Delete</td>
                    <td> </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Rename</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Open Scene Additive</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Import New Asset...</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Import Package</td>
                    <td>    </td>
                    <td>--->
                          <li>Custom Package...</li>
                          <li>2D</li>
                          <li>Cameras</li>
                          <li>Characters</li>
                          <li>CrossPlaformInput</li>
                          <li>Effects</li>
                          <li>Environment</li>
                          <li>Particle Systems</li>
                          <li>Prototyping</li>
                          <li>Utility</li>
                          <li>Vehicles</li>
                          </td>
                  </tr>
                    <tr>
                    <td>Export Package...</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Find References In Scene</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Select Dependencies</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Refresh</td>
                    <td>    </td>
                    <td>Ctrl + R </td>
                  </tr>
                    <tr>
                    <td>Reimport </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Reimport All </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Extract From Prefab </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Run API Updater... </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Open C# Project</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>GameObject </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create Empty</td>
                    <td> </td>
                    <td>Ctrl + Shift + N</td>
                  </tr>
                  <tr>
                    <td>Create Empty Child</td>
                    <td> </td>
                    <td>Alt + Shift + N</td>
                  </tr>
                  <tr>
                    <td>3D Object</td>
                    <td>  </td>
                    <td>--->
                          <li>Cube</li>
                          <li>Sphere</li>
                          <li>Capsule</li>
                          <li>Cylinder</li>
                          <li>Plane</li>
                          <li>Quad</li>
                          <li>Ragdoll...</li>
                          <li>Terrain</li>
                          <li>Tree</li>
                          <li>Wind Zone</li>
                          <li>3D Text</li>
                    </td>
                  </tr>
                  <tr>
                    <td>2D Object</td>
                    <td>  </td>
                    <td>--->
                          <li>Sprite</li>
                          <li>Sprite Mask</li>
                          <li>Tilemap</li>
                        </td>
                  </tr>
                  <tr>
                    <td>Effects</td>
                    <td>    </td>
                    <td>--->
                          <li>Particle System</li>
                          <li>Trail</li>
                          <li>Line</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Light</td>
                    <td>    </td>
                    <td>--->
                          <li>Directional Light</li>
                          <li>Point Light</li>
                          <li>Spotlight</li>
                          <li>Area Light</li>
                          <li>Reflection Probe</li>
                          <li>Light ProbeGroup</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Audio</td>
                    <td>    </td>
                    <td>--->
                          <li>Audio Source</li>
                          <li>Audio Reverb Zone</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Video</td>
                    <td>    </td>
                    <td>--->
                          <li>Video Player</li>
                      </td>
                  </tr>
                    <tr>
                    <td>UI</td>
                    <td>    </td>
                    <td>--->
                          <li>Text</li>
                          <li>Image</li>
                          <li>Raw Image</li>
                          <li>Button</li>
                          <li>Toggle</li>
                          <li>Slider</li>
                          <li>Scrollbar</li>
                          <li>Dropdown</li>
                          <li>Input Field</li>
                          <li>Canvas</li>
                          <li>Panel</li>
                          <li>Scroll View</li>
                          <li>Event System</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Vuforia</td>
                    <td>    </td>
                    <td>--->
                          <li>AR Camera</li>
                          <li>Image</li>
                          <li>Multi Image</li>
                          <li>Cylindrical Image</li>
                          <li>Cloud Image ---></li>
                          <li>Camera Image --->li>
                          <li>3D Scan</li>
                          <li>VuMark</li>
                          <li>Ground Plane ---></li>
                          <li>Mid Air ---></li>
                      </td>
                  </tr>
                    <tr>
                    <td>Camera</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Center On Children</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Make Parent</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Clear Parent</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Apply Changes To Prefab</td>
                    <td>    </td>
                    <td></td>
                  </tr><tr>
                    <td>Break Prefab Instance</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Set as first sibling</td>
                    <td>    </td>
                    <td>Ctrl +=</td>
                  </tr><tr>
                    <td>Set as last sibling</td>
                    <td>    </td>
                    <td>Ctrl + -</td>
                  </tr>
                    <tr>
                    <td>Move To View</td>
                    <td>    </td>
                    <td>Ctrl + Alt + F</td>
                  </tr>
                  <tr>
                    <td>Align With View</td>
                    <td>    </td>
                    <td>Ctrl + Shift + F</td>
                  </tr>
                    <tr>
                    <td>Align View to Selected</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Toggle Active State</td>
                    <td>    </td>
                    <td>Alt + Shift + A</td>
                  </tr>
      
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Component </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Add...</td>
                    <td>    </td>
                    <td>Ctrl + Shift + A</td>
                  </tr>
                  <tr>
                    <td>Mesh</td>
                    <td>     </td>
                    <td>--->
                          <li>Mesh Filter</li>
                          <li>Text Mesh</li>
                          <li>Mesh Renderer</li>
                          <li>Skinned Mesh Renderer</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Effects</td>
                    <td>     </td>
                    <td>--->
                          <li>Particle System</li>
                          <li>Trail Renderer</li>
                          <li>Line Renderer</li>
                          <li>Lens Flare</li>
                          <li>Halo</li>
                          <li>Projector</li>
                          <li>Legacy Particles ---></li>
                      </td>
                  </tr>
                  <tr>
                    <td>Physics</td>
                    <td>       </td>
                    <td>--->
                          <li>Rigidbody</li>
                          <li>Character Controller</li>
                          <li>Box Collider</li>
                          <li>Sphere Collider</li>
                          <li>Capsule Collider</li>
                          <li>Mesh Collider</li>
                          <li>Wheel Collider</li>
                          <li>Terrain Collider</li>
                          <li>Cloth</li>
                          <li>Hinge Joint</li>
                          <li>Fixed Joint</li>
                          <li>Spring Joint</li>
                          <li>Character Joint</li>
                          <li>Configurable Joint</li>
                          <li>Constant Force</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Physics 2D</td>
                    <td>    </td>
                    <td>--->
                          <li>Rigidbody 2D</li>
                          <li>Box Collider 2D</li>
                          <li>Circle Collider 2D</li>
                          <li>Edge Collider 2D</li>
                          <li>Polygon Collider 2D</li>
                          <li>Capsule Collider 2D</li>
                          <li>Composite Collider 2D</li>
                          <li>Distance Joint 2D</li>
                          <li>Fixed Joint 2D</li>
                          <li>Friction Joint 2D</li>
                          <li>Hinge Joint 2D</li>
                          <li>Relative Joint 2D</li>
                          <li>Slider Joint 2D</li>
                          <li>Target Joint 2D</li>
                          <li>Wheel Joint 2D</li>
                          <li>Area Effector 2D</li>
                          <li>Buoyancy Effector 2D</li>
                          <li>Point Effector 2D</li>
                          <li>Platform Effector 2D</li>
                          <li>Surface Effector 2D</li>
                          <li>Constant Force 2D</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Navigation</td>
                    <td>    </td>
                    <td>--->
                          <li>Nav Mesh Agent</li>
                          <li>Off Mesh Link</li>
                          <li>Nav Mesh Obstacle</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Audio</td>
                    <td>    </td>
                    <td>--->
                          <li>Audio Listener</li>
                          <li>Audio Source</li>
                          <li>Audio Reverb Zone</li>
                          <li>Audio Low Pass Filter</li>
                          <li>Audio High Pass Filter</li>
                          <li>Audio Echo Filter</li>
                          <li>Audio Distortion Filter</li>
                          <li>Audio Reverb Filter</li>
                          <li>Audio Chorus Filter</li>
                          <li>Audio Spatializer ---></li>
                      </td>
                  </tr><tr>
                    <td>Video</td>
                    <td>    </td>
                    <td>--->
                          <li>Video Player</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Rendering</td>
                    <td>    </td>
                    <td>--->
                          <li>Tilemap</li>
                          <li>Tilemap Renderer</li>
                          <li>Tilemap Collider 2D</li>
                      </td>
                  </tr><tr>
                    <td>Tilemap</td>
                    <td>    </td>
                    <td>--->
                          <li>Rect Transform</li>
                          <li>Canvas</li>
                          <li>Canvas Group</li>
                          <li>Canvas Scaler</li>
                          <li>Layout Element</li>
                          <li>Content Size Fitter</li>
                          <li>Aspect Ratio Fitter</li>
                          <li>Horizontal Layout Group</li>
                          <li>Vertical Layout Group</li>
                          <li>Grid Layout Group</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Layout</td>
                    <td>    </td>
                    <td>--->
                          <li>Rect Transform</li>
                          <li>Canvas</li>
                          <li>Canvas Group</li>
                          <li>Canvas Scaler</li>
                          <li>Layout Element</li>
                          <li>Content Size Fitter</li>
                          <li>Aspect Ratio Fitter</li>
                          <li>Horizontal Layout Group</li>
                          <li>Vertical Layout Group</li>
                          <li>Grid Layout Group</li>
                      </td>
                  </tr><tr>
                    <td>Playables</td>
                    <td>    </td>
                    <td>--->
                          <li>Playable Director</li>
                      </td>
                  </tr>
                    <tr>
                    <td>AR</td>
                    <td>    </td>
                    <td>--->
                          <li>World Anchor</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Miscellaneous</td>
                    <td>    </td>
                    <td>--->
                          <li>Animator</li>
                          <li>Position Constraint</li>
                          <li>Rotation Constraint</li>
                          <li>Scale Constraint</li>
                          <li>Parent Constraint</li>
                          <li>Aim Constraint</li>
                          <li>Terrain</li>
                          <li>Billboard Renderer</li>
                          <li>Network View</li>
                          <li>Animation</li>
                          <li>Grid</li>
                          <li>Wind Zone</li>
                          <li>Sprite Mask</li>
                          <li>Sprite Shape Renderer</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Scripts</td>
                    <td>    </td>
                    <td>--->
                          <li>GoogleVR.Demos ---></li>
                          <li>GoogleVR.HelloVR ---></li>
                          <li>GoogleVR.KeyboardDemo ---></li>
                          <li>GoogleVR.PermissionsDemo ---></li>
                          <li>GoogleVR.VideoDemo ---></li>
                          <li>Gvr.Internal  ---></li>
                          <li>UnityEngine.EventSystems---->
                                       Base Input
                                       Holo Lens Input</li>
                          <li>Vuforia --->
                                        <li>Anchor Behaviour</li>
                                        <li>Anchor Input Listener Behaviour</li>
                                        <li>Anchor Stage Behaviour</li>
                                        <li>Background Plane Behaviour</li>
                                        <li>Cloud Reco Behaviour</li>
                                        <li>Content Positioning Behaviour</li>
                                        <li>Cylinder Target Behaviour</li>
                                        <li>GL Error Handler</li>
                                        <li>Guide View 2D Behaviour</li>
                                        <li>Guide View 3D Behaviour</li>
                                        <li>Guide View Camera Behaviour</li>
                                        <li>Guide View Rendering Behaviour</li>
                                        <li>Image Target Behaviour</li>
                                        <li>Mask Out Behaviour</li>
                                        <li>Mid Air Positioner Behaviour</li>
                                        <li>Model Target Behaviour</li>
                                        <li>Multi Target Behaviour</li>
                                        <li>Object Target Behaviour</li>
                                        <li>Plane Finder Behaviour</li>
                                        <li>Preview Model Turn Off Behaviour</li>
                                        <li>Turn Off Behaviour</li>
                                        <li>User Defined Target Building Behaviour</li>
                                        <li>Video Background Behaviour</li>
                                        <li>Virtual Button Behaviour</li>
                                        <li>Vuforia Behaviour</li>
                                        <li>Vu Mark Behaviour</li>
                                        <li>Wireframe Behaviour</li>
                                        <li>Wireframe Trackable Event Handler</li>
                                        </li>
                          <li>Count Update</li>
                          <li>Default Initialization Error Handler Internal</li>
                          <li>Default Initialization Error Handler Place Holder</li>
                          <li>Default Trackable Behaviour Placeholder</li>
                          <li>Exit Game</li>
                          <li>Gvr All Events Trigger</li>
                          <li>Gvr Arm Model</li>
                          <li>Gvr Controller Input</li>
                          <li>Gvr Controller Reticle Visual</li>
                          <li>Gvr Controller Tooltips Simple</li>
                          <li>Gvr Controller Visual</li>
                          <li>Gvr Dropdown</li>
                          <li>Gvr Editor Emulator</li>
                          <li>Gvr Headset</li>
                          <li>Gvr Keyboard</li>
                          <li>Gvr Laser Pointer</li>
                          <li>Gvr Laser Visual</li>
                          <li>Gvr Recenter Only Controller</li>
                          <li>Gvr Recticle Pointer</li>
                          <li>Gvr Scroll Settings</li>
                          <li>Gvr Tooltip</li>
                          <li>Gvr Tracked Controller</li>
                          <li>Gvr Video Player Texture</li>
                          <li>Instant Preview Helper</li>
                          <li>Reset But</li>
                          <li>Reticle Test</li>
                          <li>Spinning Cube</li>
                          <li>Test Scfript 1</li>
                          <li>Vuforia Mono Behaviour</li>
                      </td>
                  </tr><tr>
                    <td>Analytics</td>
                    <td>    </td>
                    <td>--->
                          <li>Analytics Event Tracker</li>
                          <li>AnalyticsTracker</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Event</td>
                    <td>    </td>
                    <td>--->
                          <li>Event System</li>
                          <li>Event Trigger</li>
                          <li>HoloLens Input Module</li>
                          <li>Physics 2D Raycaster</li>
                          <li>Physics Raycaster</li>
                          <li>Standalone Input Module</li>
                          <li>Graphic Raycaster</li>
                      </td>
                  </tr><tr>
                    <td>Network</td>
                    <td>    </td>
                    <td>--->
                          <li>NetworkAnimator</li>
                          <li>NetworkDiscovery</li>
                          <li>NetworkIdentity</li>
                          <li>NetworkLobbyManager</li>
                          <li>NetworkLobbyPlayer</li>
                          <li>NetworkManager</li>
                          <li>NetworkManagerHUD</li>
                          <li>NetworkMigrationManager</li>
                          <li>NetworkProximityChecker</li>
                          <li>NetworkStartPosition</li>
                          <li>NetworkTransform</li>
                          <li>NetworkTransformChild</li>
                          <li>NetworkTransformVisualizer</li>
                      </td>
                  </tr>
                    <tr>
                    <td>XR</td>
                    <td>    </td>
                    <td>--->
                          <li>Tracked Pose Driver</li>
                          <li>Spatial Mapping Collider</li>
                          <li>Spatial Mapping Renderer</li>
                      </td>
                  </tr><tr>
                    <td>UI</td>
                    <td>    </td>
                    <td>--->
                          <li>Effects ---></li>
                          <li>Text</li>
                          <li>Image</li>
                          <li>Raw Image</li>
                          <li>Mask</li>
                          <li>Rect Mask 2D</li>
                          <li>Button</li>
                          <li>Input Field</li>
                          <li>Toggle</li>
                          <li>Toggle Group</li>
                          <li>Slider</li>
                          <li>Scrollbar</li>
                          <li>Dropdown</li>
                          <li>Scroll Rect</li>
                          <li>Selectable</li>
                      </td>
                  </tr>
                    <tr>
                    <td>GoogleVR</td>
                    <td>    </td>
                    <td>--->
                          <li>Audio ---></li>
                          <li>GvrPointerGraphicRaycaster</li>
                          <li>GvrPointerInputModule</li>
                          <li>GvrPointerPhysicsRaycaster</li>
                      </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
    
            <h4>GoogleVR </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Documentation</td>
                    <td>     </td>
                    <td>--->
                          <li>Developers Site</li>
                          <li>Unity Guide</li>
                          <li>Release Notes</li>
                          <li>Known Issues</li></td>
                  </tr>
                  <tr>
                    <td>Editor Settings</td>
                    <td>     </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Report Bug</td>
                    <td>     </td>
                    <td> </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
        
            <h4>Window </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Next Window</td>
                    <td>      </td>
                    <td>Ctrl + Tab</td>
                  </tr>
                  <tr>
                    <td>Previous Window</td>
                    <td>     </td>
                    <td>Ctrl + Shift + Tab</td>
                  </tr>
                  <tr>
                    <td>Layout</td>
                    <td>  </td>
                    <td>--->
                          <li>2 by 3</li>
                          <li>4 Split</li>
                          <li>Default</li>
                          <li>Tall</li>
                          <li>Wide</li>
                          <li>Save Layout...</li>
                          <li>Delete Layout...</li>
                          <li>Revert Factory Settings...</li></td>
                  </tr>
                  <tr>
                    <td>Vuforia Configuration</td>
                    <td>     </td>
                    <td>Ctrl + Shift + V</td>
                  </tr>
                  <tr>
                    <td>Package Manager</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Services</td>
                    <td>    </td>
                    <td>Ctrl + 0</td>
                  </tr>
                    <tr>
                    <td>Scene</td>
                    <td>    </td>
                    <td>Ctrl + 1</td>
                  </tr>
                  <tr>
                    <td>Game</td>
                    <td>    </td>
                    <td>Ctrl + 2</td>
                  </tr>
                    <tr>
                    <td>Inspector</td>
                    <td>    </td>
                    <td>Ctrl + 3</td>
                  </tr><tr>
                    <td>Hierarchy</td>
                    <td>    </td>
                    <td>Ctrl + 4</td>
                  </tr>
                    <tr>
                    <td>Project</td>
                    <td>    </td>
                    <td>Ctrl + 5</td>
                  </tr><tr>
                    <td>Animation</td>
                    <td>    </td>
                    <td>Ctrl + 6</td>
                  </tr>
                    <tr>
                    <td>Profiler</td>
                    <td>    </td>
                    <td>Ctrl + 7</td>
                  </tr><tr>
                    <td>Audio Mixer</td>
                    <td>    </td>
                    <td>Ctrl + 8</td>
                  </tr>
                    <tr>
                    <td>Asset Store</td>
                    <td>    </td>
                    <td>Ctrl + 9</td>
                  </tr>
                  <tr>
                    <td>Version Control</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Collab History</td>
                    <td>    </td>
                    <td> </td>
                  </tr><tr>
                    <td>Animator</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Animator Parameter</td>
                    <td>    </td>
                    <td></td>
                  </tr><tr>
                    <td>Sprite Packer</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Tile Palette</td>
                    <td>    </td>
                    <td></td>
                  </tr><tr>
                    <td>Experimental</td>
                    <td>    </td>
                    <td>--->
                    <li>Look Dev</li></td>
                  </tr>
                    <tr>
                    <td>Holographic Emulation</td>
                    <td>    </td>
                    <td> </td>
                  </tr><tr>
                    <td>Test Runner</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Timeline</td>
                    <td>    </td>
                    <td> </td>
                  </tr><tr>
                    <td>Lighting</td>
                    <td>    </td>
                    <td>--->
                          <li>Settings Light Explorer</li>
                         </td>
                  </tr>
                    <tr>
                    <td>Occlusion Culling</td>
                    <td>    </td>
                    <td> </td>
                  </tr><tr>
                    <td>Frame Dubugger</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Navigation</td>
                    <td>    </td>
                    <td> </td>
                  </tr><tr>
                    <td>Physics Debugger</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Console</td>
                    <td>    </td>
                    <td>Ctrl + Shift + C</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            
             <h4>Help </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>About Unity...</td>
                    <td>   </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Manage License...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Unity Manual</td>
                    <td>   </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Scripting Reference</td>
                    <td>      </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Unity Services</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Unity Forum</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Unity Answers</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Unity Feedback</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Check for Updates</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Download Beta...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Release Notes</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Software Licenses</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Report a Bug...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Vuforia</td>
                    <td>    </td>
                    <td>--->
                          <li>Mars Sample</li>
                          <li>Documentation</li>
                          <li>Release Notes</li>
                          <li>Check for Updates</li>
                          </td>
                  </tr>
                    <tr>
                    <td>Reset Package to defaults</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Troubleshoot Issue...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
     </section>
    
      
        </div>
      </header>

    </body>
    <!-- Footer-->
    <section id="footer">
      <ul class="copyright">
        <li> Untitled Inc. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>