<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4U</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <!-- Page Wrapper-->
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header" class="alt">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorials">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="login">Log In</a></li>
          <li><a href="signup">Sign Up</a></li>
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Banner-->
    <section id="banner">
      <div class="inner">
        <div class="logo"><span class="icon fa-tv"></span></div>
        <h2>Welcome to Tutorials4U</h2>
        <p>Feel free to look around! We are under construction.</p>
      </div>
    </section>
    <!-- Wrapper-->
    <section id="wrapper">
      <!-- One-->
      <section id="one" class="wrapper spotlight style1">
        <div class="inner"><a href="tutorials" class="image"><img src="bootstrap2/images/unity1.jpg" alt=""></a>
          <div class="content">
            <h2 class="major">Tutorials</h2>
            <p>Wanna learn about our tutorials? Please go check them out!</p><a href="tutorials" class="special">Learn more</a>
          </div>
        </div>
      </section>
      <!-- Two-->
      <section id="two" class="wrapper alt spotlight style2">
        <div class="inner"><a href="resources" class="image"><img src="bootstrap2/images/3-gears-hi.png" alt=""></a>
          <div class="content">
            <h2 class="major">Resources</h2>
            <p> You can't have tutorials without resources. Check out the resources page for help!</p><a href="resources" class="special">Learn more</a>
          </div>
        </div>
      </section>
      <!-- Three-->
      <section id="three" class="wrapper spotlight style3">
        <div class="inner"><a href="about" class="image"><img src="bootstrap2/images/marshmallow.png" alt=""></a>
          <div class="content">
            <h2 class="major">About the Creator</h2>
            <p>Wanna know about the team behind Tutorials4U? Click to learn more!</p><a href="about" class="special">Learn more</a>
          </div>
        </div>
      </section>
      <!-- Four-->
      <section id="four" class="wrapper alt style1">
        <div class="inner">
          <h2 class="major">Want tutorials? You got them!</h2>
          <p>Here are recent tutorials!</p>
          <section class="features">
            <article><a href="tutorials" class="image"><img src="bootstrap2/images/pic04.jpg" alt=""></a>
              <h3 class="major">Tutorial 1</h3>
              <p>Intro</p><a href="tutorials" class="special">Learn more</a>
            </article>
            <article><a href="tutorials" class="image"><img src="bootstrap2/images/pic05.jpg" alt=""></a>
              <h3 class="major">Tutorial 2</h3>
              <p>Intro 2</p><a href="tutorials" class="special">Learn more</a>
            </article>
            <article><a href="tutorials" class="image"><img src="bootstrap2/images/pic06.jpg" alt=""></a>
              <h3 class="major">Tutorial 3</h3>
              <p>Intro 3</p><a href="tutorials" class="special">Learn more</a>
            </article>
            <article><a href="tutorials" class="image"><img src="bootstrap2/images/pic07.jpg" alt=""></a>
              <h3 class="major">Tutorial 4</h3>
              <p>Intro 4</p><a href="tutorials" class="special">Learn more</a>
            </article>
          </section>
          <ul class="actions">
            <li><a href="tutorials" class="button">Browse All Tutorials</a></li>
          </ul>
        </div>
      </section>
    </section>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <h2 class="major">Get in touch</h2>
        <p>Here is how to Contact Tutorials4U</p>
        <form method="post" action="#">
          <div class="field">
            <label for="name">Name</label>
            <input id="name" type="text" name="name">
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="4"></textarea>
          </div>
          <ul class="actions">
            <li>
              <input type="submit" value="Send Message">
            </li>
          </ul>
        </form>
        <ul class="contact">
          <li class="fa-home">Tutorials4U<br>									5000 MacArthur Blvd<br>									Oakland, CA 94613</li>
          <li class="fa-envelope"><a href="#">aleyvamcmurtry@mills.edu</a></li>
          <li class="icon fa-github"><a href="https://github.com/aleyvamcmurtry/tutorials4u"><span class="label">Github</span></a> https://github.com/aleyvamcmurtry/tutorials4u</li>
          <li class="fa-twitter"><a href="#">twitter.com/angelsayshi</a></li>
          <li class="fa-facebook"><a href="#">facebook.com/gel.ray1</a></li>
          <li class="fa-instagram"><a href="#">instagram.com/tinymarshmallowdemon</a></li>
        </ul>
        <ul class="copyright">
          <li>© Tutorials4U Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a><a href="http://aleymcm.com">Angelica L.M. </a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>