<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <!-- Page Wrapper-->
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
          <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Resources</h2>
          
        </div>
      </header>
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          <section>
          <p>
           Hello and welcome to the Resource page!</p> 

          <p>Here you can find other tutorials you can try that revolve around Unity, as well as general information.</p>
          <p>Warning: Some of these other links or tutorials may charge a few if you decide to follow them. Please
          make sure to look through everything properly.</p>
          
          <p>Unity’s Website:
          https://unity.com/</p>
          
          
          <p>Tutorials by Unity:
          https://unity.com/learn
          https://unity.com/learn/partner-courses
          https://unity3d.com/learn/unity-xr-apps?_ga=2.62936168.619868303.1586669290-1883115816.1586567263   VR and XR
          https://unity3d.com/learn/real-world-applications?_ga=2.62936168.619868303.1586669290-1883115816.1586567263  AR Apps
          
          https://www.youtube.com/user/Unity3D/playlists Unity’s Youtube</p>
          
          <p>Zenva Academy
          They have VR tutorials that can help you build more stuff. Warning: they do charge a monthly fee. 
          https://academy.zenva.com/</p>


    </section>
    </body>
    <!-- Footer-->
    <section id="footer">
      <ul class="copyright">
        <li>© Untitled Inc. All rights reserved.</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>