<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Navigate Through Unity!</h2>
          <p>In this tutorial you will be taught how to navigate the Unity interface, or through Unity itself.
          There is a lot of information in here, but don't feel scared if you get lost. The next tutorials will
          all link back this so you can look through the information if you have questions. 
          We have cut this tutorial into 4 sections.</p>
          
          <p>
          These tutorials are not going to go through ever single part of Unity, only the ones that will be useful later on.
          In the future tutorials, there will be links back to these pages, so if you ever feel lost or forget about something
          you don't have to go back and forth between tutorials. 
          
          </p>
          <p>
          The next two/three tutorials will be a lot of information. If you ever get confused or lost, take your time 
          and reread everything. They will also not go through ever part of the Unity interface, but will go through a
          good part of it. In Tutorials 3 and 4, if you ever feel like you forgot something or have gotten lost or want
          to know what something does, there will be links back to these tutorials or to the help section. So dont ever 
          feel like you need to remember everything. :D
          </p>
        </div>
        
      </header>
     <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          <section class="features">
            <article><a href="tutorials2section1" class="image"><img src="images/pic04.jpg" alt=""></a>
              <h3 class="major">Introduction and First Project</h3>
              <p>We are going to create our first project and add modules to it. PLEASE DO THIS TUTORIAL
              REGARDLESS ON WHETHER OR NOT YOU HAVE USED UNITY BEFORE.</p><a href="tutorials2section1" class="special">Learn more</a>
            </article>
            <article><a href="tutorials2section2" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Overview</h3>
              <p>Let's go over the very basics of Unity and how to check out the giant screen on it.</p><a href="tutorials2section2" class="special">Learn more</a>
            </article>
             <article><a href="tutorials2section3" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Menu Bar</h3>
              <p>What are those words at the top of the screen? When I click on them, more stuff pops up. If you have
          questions like that, this is the section for you.</p><a href="tutorials2section3"class="special">Learn more</a>
            </article>
            <article><a href="tutorials2section4" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Tool Bar</h3>
              <p>We will be going over the different parts of the tool bar and how they work.</p><a href="tutorials2section4"class="special">Learn more</a>
            </article>
                        <article><a href="tutorials2section5" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Hierarchy Window and Scene View</h3>
              <p>We will be going over the Hierarchy Window and Scene View.</p><a href="tutorials2section5"class="special">Learn more</a>
            </article>
                        <article><a href="tutorials2section6" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">The Inspector and Project Windows</h3>
              <p>We will be going over the Inspector and Project Windows.</p><a href="tutorials2section6"class="special">Learn more</a>
            </article>
          </section>
        </div>
      </div>
    </section>
      <div class="wrapper">
        <div class="inner">
         
          <p>After you are finished, you can go onto the next tutorial
            or click on the previous button if you think you missed something in the 
            last tutorial.</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials1">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials3">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>