<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Tutorial 1 Section 3</h2>
          <h2>Logging into Unity Part 1</h2>
           <p>Wohooo!!! You downloaded and install Unity! What's next? Can we play with it
        now?</p>
        
        <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
        
        <!--
             <iframe width="420" height="315"
          src="https://www.youtube.com/embed/gDcvDGDFDVc">
          </iframe> -->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
             
        
        <p>Unfortunately, no, not just yet. </p>
        
        <p>Unity sometimes asks that you have an account to use them. 
        For this you have to sign up with an account. If you don't have
        and account, follow the following steps. If you do, click here to go to the 
        <a href="tutorials2">second tutorial</a>.</p>
        
        <p><b>If Unity asks you to have an account, follow the steps below. If they
        do not, please skip and go to the next section,<a href="tutorials1section4"> Tutorial 1 Section 4</a></b>.</p>
        
        <p>You don't have an account. That's okay. Let's make one!</p>
        <p>On the page, click on create one. It will take you to either a webpage 
        where you can sign up for Unity or the sign up page will appear. </p>
        <p>Make sure to always get permission before signing up for anything.</p>
        <p>You can sign up for Unity using your gmail account, your facebook account, or
        your email.</p>
        <p>For your email, it will ask for the email account you use the most, a password
        that has more than 8 letters, at least one uppercase letter, one lowercase letter,
        and a number. Choose a username and give your full name (first and last name or an 
        abbreviation of it). The click or touch the symbol for the item it tells you. For me, 
        it asked me to click on the picture of the Flower.</p>
        <p>Then read and check the Terms of Use and Privacy Policy.</p>
        <p>If you want to stay updated with everything Unity, check on the box asking if you
        want to Get Unity news, discounts and more!</p>
        <p>Finally click on Create a Unity ID.</p>
        
        <p>It will then ask for you to go to your email, open up an email from Unity Technologies (accounts@unity3d.com),
        and click on the link in the email to confirm your account. NEVER open emails from anyone you don't know
        and never give any information to any email that does not look legitimate.</p>
        <p>It may take a few minutes for you to receive the email, so be patient.</p>
        <p>You will then be directed to a page that asks you to login with your email and password (the ones
        you are using for Unity). Once you're done, click on Sign In and Unity will send you to your Unity profile.</p>
        <p>For these tutorials, we are not doing anything in your account, but if you want to go back later and check it
        out.</p>
        
        <p>Exit out of your browser and go back to Unity.</p>
       
         
    <div class="wrapper">
        <div class="inner">
         
          <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to continue on.</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials1section2">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials1section4">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>