<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h1>Tutorial 3 Section 2</h1>
          <h2>Google Cardboard Part 2</h2>
          
             <p>Let's finish adding in Google Cardboard.</p>
         
         
         <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
             <!-- <iframe width="420" height="315"
          src="">
          </iframe> -->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          <h4>Please remember to save after we have made any changes and especially before you try to test out your game. 
          If you try to play before you save, the new changes will not take effect and you will have to redo your changes.
          You can do this by going up to <b>File</b> and click on <b>Save</b>. You can also do this by pressing and holding <b>ctrl + S</b> (for PC)
          or <b>Command + S</b> (for Mac).</h4>
           
            
          <p>Welcome back! Up until this point, you have imported the Google VR 
          sdk into your project. In this chapter we will be finishing incoporating
          all of the Google VR stuff into our project. </p>

              <p>First, let’s open up Unity and open up our project, if you haven't
              done this already. </p>
              
              <p>Next, go to <b>File</b> in the <b>Menu Bar</b>, go down, and click on 
              <b>Build Settings</b>. A pop up should appear. </p>
              
              <p>In <b>Build Settings</b>, we are going to tell Unity what platform, or 
              hardware, we are going to make this game for. Since we are going to
              use Google Cardboard and Google Cardboard can only be created using Android
              products, we are going to look under <b>Platform</b>, click on <b>Android</b>, 
              and then click on <b>Switch Platform</b> on the bottom of the <b>Build Settings</b>
              pop up. </p>
              
              <p>Give Unity a moment to change things around. You should see on the 
              right side of Build Settings, the block of text and information 
              should have changed from PC, Mac, & Linux Standalone to say Android. </p>
              
              <p>There should also be a little Unity symbol next to Android.</p>
              
              
               <p>Now it may look like nothing has happened. Nothing popped up, there
              are no changes and everything looks the same on your screen. But if
              we click out of <b>Build Settings</b>, you should see a bunch of new
              information inside your <b>Inspector</b>. </p>
              
             <p>All of this exists so we could tell Unity specific information about
              what we plan to do, what kind of software it expects from us, and
              what we need for Unity to prepare. </p>
              
              <p>Still in <b>Build Settings</b> click on the <b>Add Open Scenes</b> button. It will be the
              button right underneath a large empty space. When you do that, you should see:
              <strong>Scenes/SampleScene</strong> pop up. </p>
              
              <p><b>SampleScene</b> is currently the name of our scene and <b>Scenes</b> is folder where all of our
              scenes are being stored in. A scene holds all of the objects, materials, and information regarding 
              a specific part of a game. If you ever play video games and the game reloads for a moment to take you to a 
              new location in a game, that is an example of the game changing and loading a new scene.</p>
              
            
          
              <p>Now click on <b>Player Settings...</b>. It is located right next to 
               <b>Switch Platform</b>.</p>
              
              <p>Now <b>Player Settings</b> should look very similar for everyone, but 
              sometimes when Unity has a new update, the placement or where things
              are change. If you don’t immediately see something that this 
              tutorial is asking for you to find, take an extra minute to double 
              check. </p>
              
              <p>We are going to click on <b>Other Settings</b>. Scroll down and under 
              <b>Idenfitication</b> you should see the following. 
              
              <li>Package Name</li>
              <li>Minimum API Level</li></p>
              
              <p>For Package Name, change <b>Company</b> to a nickname or a shortened
              version of you name. The reason why we need to change this is so that way this
              project is unique to us and Unity knows that we created this game.</p> 
              
              <p>For example, ours is:</p>
              
              <p>com.Tutorials4Unity.Project1</p>
              
              <p>For the mimimum api level, we are going to choose API level 21,
              or Android 5.0 <b>Lollipop</b>. </p>
              
              <p>The best thing to do is to actually go on whatever Android device 
              you will be using to show off your game,  click on <b>Settings</b> or 
              the gear icon, click on <b>About Phone</b>, click on <b>Software Information</b>,
              and look for <b>Android Version</b>. If your version number is less than
              Android 5.0 (<b>Lollipop</b>), but is at or above Android 4.4 (<b>Kitkat</b>),
              please choose that version. If it is bigger than Android 5.0, you 
              don’t have to do anything. If it is less than 4.4, you may need 
              find a different Android device to use. The reason why is because
              over time, Android stops creating updates for older versions of
              their software and some of the older software can’t handle the 
              newer or better stuff. </p>
              
              
              <p>Once you are done changing this information, we are going to go 
              down all of the way <b>XR Settings</b>. Click on that and click on the
              checkbox next to <b>Virtual Reality Supported</b>. Under 
              <b>Virtual Reality SDKs</b>, click on the + plus sign. We are then 
              going to click on <b>Cardboard</b> to add that to the Virtual Reality
              SDKs that we are going to use. Basically, we are just telling 
              Unity that we are making this game to be used with Google Cardboard.</p> 
              
              <p>Unity is planning on eliminating XR Settings sometime in the future. This is shown
              by Unity placing Deprecated in front of XR Settings. For the moment, as long as
              XR Settings are availble, please continue following that way and do not use
              XR Plugin Management.</p>
              
              <p>Exit these settings and go back to Unity.</p>
              
              <p>Great! We are almost there. </p>
        
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials3section1">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials3section3">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>