<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
       
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Tutorial 2 Section 1</h2>
          <h2>Introduction and Overview</h2>
          <img src="bootstrap2/images/everything_together.png" alt="" height="500" width="500">
             <p></p>
             <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
             <!-- <iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe>-->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          
          <p>Awesome! You have downloaded Unity, installed, and logged in. Please take a moment to give yourself a round of applause. </p

             <p> Before we get to making an awesome game, we have to go through something a little boring first. Boring, but important. </p>
              
              <p>We are going to learn about the different parts of Unity, or as programmers like to call it, the Unity Interface.
              This is a short term used to mean all of the parts of Unity, from the giant screen with an image of a sky to
              all of the bits and pieces that help us to create projects.</p>

              <p>Currently, as of fall 2019, Unity has a new home interface called Unity Hub. Unity Hub allows you to use order and newer versions of Unity, 
              alongside with any other outside information your project might need. </p>

              <p>We are going to be using the Unity Hub to create, start, and work on our projects.</p>

              <p>Let's start up the Unity Hub.</p>

          <p> Click on the Unity Hub icon on your Desktop. It is going to look like the Unity Icon in a white box. If you don't see it there, go into your applications folder and search for it
                      on there if you have a Mac. If you are using a PC, type in Unity Hub in the search bar on the bottom of your screen and select
              the Desktop app. </p>

              <p>You should have no projects at the moment (unless you have used Unity before).</p>

              <p>Before we click on New (to make a New Project), we are going to click on <b>Installs</b> on the 
              left hand side of the Unity Hub. You should have no items here.</p>

              <p>What we are going to do is download an existing version of Unity and we are going to add special
              features to it that we wouldn't be able to do as easily if we had just created a project and added it later on.</p>

              <p>First click on the <b>ADD</b> button. A pop up should appear and asks you to select a version of Unity you would like to use.</p>

              <p>We are going to choose one of the top two versions. These are usually the latest stable releases of Unity. 
              If you are unsure which version of Unity is the latest, go online and search up "latest version of unity". Look for the Stable release version.</p>

              <p> We always want to go for the stable version. Stable versions have been tested by multiple
              people and will have less bugs/problems than other versions. </p>


              <p> For me, one of the latest versions I can choose from is Unity2019.2.12f1. Remember
              that even though this is my latest version, yours maybe be newer.</p>
              
              <p>Also you will see something called Microsoft visual studio community selected. Leave it selected.</p>

              <p>After selecting the version you want to use, click on NEXT.</p>

              <p>It will now ask you to Add modules to your install.</p> 

                <p>We are going to click and add the Android Build Support module. Warning: This will take about 2.0 GB (gigabytes) of space. 
                By adding this android module, we won't have to worry about adding, finding, or trying to download other items later on. 
                This module will allow us to run our game on our android devices with less issues. </p>
                
                <p>Also if you are working with a Mac or Apple phone, please still select the Android Build Support. 
                The features between Apple and Android differ and these tutorials will be building a Virtual Reality game surrounding Android.</p>

                <p>Click on Next. Agree to the Terms and Service.</p>
                
                <p>Finally click on done. You will have to leave Unity alone for a little bit until it is done downloading and installing.</p>

                <p>Once Unity is done installing the latest version, you should see the latest version in your Installs with an android icon on it. </p>

                <p>Now we create our first project! Click on the Projects tab.</p>

              
             <p>Lets click on the small button next to New with the arrow pointed down. Click on the top version of Unity, 
             which should be the version that you added your module to. </p>

            <p>First, let's choose our Template. This is what style your project is going to be in, whether
            you want to create a 2D game or a 3D game. Since we are making a Virtual Reality game, choose 3D.</p>

              <p>Next, Under Project Name, type in the name of your project. I’m going to name my project Project1.</p>
              
              
              <p>After this, click on Create. You shouldn't have to touch any of the other items on this screen unless you want to 
              change where your project is going to be made. 
               </p>
               
               <p>And your first project has been made!</p>
        
              <p><b>If you ever have any problems go to <a href="help2">Tutorial 2 Help</a>.</b></p>
              
             
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to go to the next part.</p>
          <div id="container">
            
            <!--<a href="tutorials2" class="special2">Previous</a>
            <a href="tutorials2section2" class="special">Next</a>-->
            <button id="prevBtn" title="prev"><a href="tutorials2">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2section2">Next</a></button>
            <!--<button id="prevBtn" title="prev"><a href="tutorials2">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2section2">Next</a></button> -->
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>