<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Tutorial 4 Section 1</h2>
          <h1>Finishing Google Cardboard</h1>
          <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
         <!---  <h2>Download Unity</h2>
          
          
             <p>Ready to get Started?</p>
             <iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe>
        </div> -->
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
                    
          <p>Welcome back! And good job making your first game.</p>
          
          <p>But how do we play it? How do we turn this video game you can play on your computer and make it into a virtual reality game?</p>
          
          <p>Well, we are going to get started showing you how to do just that in this section. </p>
          
          
          <p>You will need the following: </p>
          
          <p>-An Android  device, like your cell phone or tablet. To truly experience in VR, your phone is the best item to use. 
          While you can see and play your game on your tablet, it would be hard to bring that to you face and view. A version to use this with Apple products is
          being looked into but is currently unavailable. 
          </p>
          <p>-Google Cardboard. You can buy one here (include link) for around $15, or you can make one using the instructions from here (include link) if you
          truly wish for the VR experience. If you cannot get or make one, you can still experience the game, but you will not be able to view it in VR.
          </p>
          <p>-A charging cable for your phone. This is the USB cable you use for your phone. Make sure one end is the side you plug into your phone, and 
          the other is a usb side. 
          </p>
          <p>-Patience. 
          </p>
          
          <p>Now, before you go around showing to all of you friends, we are going to test that the game will work. Sometimes, 
          you might get super exicted to show your friends or family members, but an important thing to remember while 
          programming is that things can and will break and you want to make sure everything works perfectly before hand.
          </p>
          <p>So let’s start. 
          </p>
          
          
          <p>Go to your App Store and search for the Google Cardboard app. This app will hold a link to your project when we eventually add it to your phone.</p>
          <p>After it's downloaded, chech that the app is on your phone. </p>
          
          
          <p>When you have the app and a Google Cardboard to play with then go onto the next tutorial for the next step. </p>
          
         <p>If you cannot get a Google Cardboard, you can still go around and show your friends. </p>
          
         
         
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials3">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials4section2">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>