<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Tutorials</h2>
          <p>Welcome to the tutorials home! Here you can get to any of the tutorials. </p>
        </div>
      </header>
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          <h3 class="major">Get Started</h3>
          <p>Tutorial 1</p>
          <p>Learn how to get started!</p>
          <h3 class="major">Navigate Unity</h3>
          <p>Tutorial 2</p>
          <p>Learn how to navigate through unity!</p>
          <h3 class="major">Making A Game</h3>
          <p>Tutorial 3</p>
          <p>Learn how to make a game in unity!</p>
          <h3 class="major">Getting into VR</h3>    
          <p>Tutorial 4</p>
          <p>Learn how to view your game in virtual reality!</p>
          <section class="features">
            <article><a href="tutorials1" class="image"><img src="/bootstrap2/images/introtounity.jpg" alt=""></a>
              <h3 class="major">Tutorial 1</h3>
              <p>Get Started</p>
              <ul style="width:50%"; "float:left;">
                <li><a href="tutorials1section1">Part 1</a></li>
              <li><a href="tutorials1section2">Part 2</a></li>
              <li><a href="tutorials1section3">Part 3</a></li>
              <li><a href="tutorials1section4">Part 4</a></li> 
              </ul>
              <a href="tutorials1" class="special">Learn more</a>
            </article>
            <article><a href="tutorials2" class="image"><img src="/bootstrap2/images/navigateunity.jpg" alt=""></a>
              <h3 class="major">Tutorial 2</h3>
              <p>Navigation</p>
              <ul style="width:50%"; "float:left;">
                <li><a href="tutorials2section1">Part 1</a></li>
                <li><a href="tutorials2section2">Part 2</a></li>
                <li><a href="tutorials2section3">Part 3</a></li>
                <li><a href="tutorials2section4">Part 4</a></li>
                <li><a href="tutorials2section5">Part 5</a></li>
                <li><a href="tutorials2section6">Part 6</a></li>
              </ul>
              <a href="tutorials2" class="special">Learn more</a>
            </article>
            <article><a href="tutorials3" class="image"><img src="/bootstrap2/images/makegameswithunity.jpg" alt=""></a>
              <h3 class="major">Tutorial 3</h3>
              <p>Let's Make A Game</p>
              <ul style="width:50%"; "float:left;">
                <li><a href="tutorials3section1">Part 1</a></li>
                <li><a href="tutorials3section2">Part 2</a></li>
                <li><a href="tutorials3section3">Part 3</a></li>
                <li><a href="tutorials3section4">Part 4</a></li>
                <li><a href="tutorials3section5">Part 5</a></li>
                <li><a href="tutorials3section6">Part 6</a></li>
                <li><a href="tutorials3section7">Part 7</a></li>
                <li><a href="tutorials3section8">Part 8</a></li>
                
              </ul>
              <a href="tutorials3" class="special">Learn more</a>
            </article>
            <article><a href="tutorials4" class="image"><img src="/bootstrap2/images/togetherWeAreUnity2.jpg" alt=""></a>
              <h3 class="major">Tutorial 4</h3>
              <p>Let's Make it VR</p>
              <ul style="width:50%"; "float:left;">
                <li><a href="tutorials4section1">Part 1</a></li>
                <li><a href="tutorials4section2">Part 2</a></li>
                <li><a href="tutorials4section3">Part 3</a></li>
                <li><a href="tutorials4section4">Part 4</a></li>
              </ul>
              <a href="tutorials4" class="special">Learn more</a>
            </article>
          </section>
        </div>
      </div>
    </section>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>