<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Building a Unity Game</h2>
          <p>In this tutorial you will be taught how to create your first game in Unity!
          
          Together we are going to create a basic version of a game, which you can go ahead and add
          some cool stuff later on.
          
          This tutorial is still being worked on. So while you can go through the pages there will not be 
          anything on them. 
          
          We have cut this tutorial into 4 sections.</p>
          
          <p>Remeber, if you ever close any of the windows and want things to go back to normal or default settings, go to 'Window',
          'Layouts', 'Revert Factory Settings...', and then click 'Continue' when asked whether or not you want to revert your settings to 
          default. This will not delete any of your progress and it will just reset all of your windows back to normal. That way, if you're
          following the tutorials but accidently delete or exit out of one of the windows, you can easily reset and have things go back to normal. 
          </p>
          
        </div>
      </header>
     <!-- Content-->
      <div class="wrapper">
        <div class="inner">
        
          <section class="features">
            <article><a href="tutorials3section1" class="image"><img src="images/pic04.jpg" alt=""></a>
              <h3 class="major">Google Cardboard Part 1</h3>
              <p> We are going to add our Google Cardboard elements to this.</p><a href="tutorials3section1" class="special">Learn more</a>
            </article>
            <article><a href="tutorials3section2" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Google Cardboard Part 2</h3>
              <p> We are going to add our Google Cardboard elements to this part 2.</p><a href="tutorials3section2" class="special">Learn more</a>
            </article>
             <article><a href="tutorials3section3" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Player Part 1</h3>
              <p>It's time to add in our player! </p><a href="tutorials3section3"class="special">Learn more</a>
            </article>
            <article><a href="tutorials3section4" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Player Part 2</h3>
              <p>Now we are going to add Google VR to our player.</p><a href="tutorials3section4"class="special">Learn more</a>
            </article>
            <article><a href="tutorials3section5" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Adding Objects</h3>
              <p>It's time to add in some new objects.</p><a href="tutorials3section5"class="special">Learn more</a>
            </article>
            <article><a href="tutorials3section6" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Let's Change the Color with a Script!</h3>
              <p>We are going to be adding our first script to our game.</p><a href="tutorials3section6"class="special">Learn more</a>
            </article>
            <article><a href="tutorials3section7" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Time is on our side to Count Scripts!</h3>
              <p>It's time to add our second script to our game.</p><a href="tutorials3section7"class="special">Learn more</a>
            </article>
            <article><a href="tutorials3section8" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Final Touches</h3>
              <p>Let's finish up our game.</p><a href="tutorials3section8"class="special">Learn more</a>
            </article>
          </section>
        </div>
      </div>
    </section>
     <div class="wrapper">
        <div class="inner">
          <p>After you are finished, you can go onto the next tutorial. If you missed something, you can
          go back to the last tutorial.</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials2">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials4">Next</a></button>
          </div>
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>