<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h1>Tutorial 4 Section 4</h1>
         <h2>Virtual Reality Game Testing</h2>
          <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
             <!--- <p>Ready to get Started?</p>
             <iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe> -->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
      
         <p>Let's get ready to test your game on <b>Google Cardboard</b>. </p>
         <p>Now going into this, let us remember that you will need to have patience. And if things to do 
         not work out perfectly the first time, that is fine.</p>
         
         <p>First connect your <b>phone</b> to your computer using a <b>usb cable</b>. When it does, check your phone
         and see if it is asking for you to do anything, for example, asking if this is a computer you can trust.
         You do want your phone to be able to accept files from your computer, so transfer files should be allowed.</p>
         
         <p>Double check that your cable works, and at times, you may have to take it out (safely) and plug it back in again.</p>
         
         <p>Click on <b>Build Settings</b>. Make sure that in <b>Scenes In Build</b>, that your scene is in there. </p>
         
         <p>Click Build And Run.</p>
         
         <p>If this is the first time running your project on your phone, give it a few minutes. It will take time
         because Unity is transfering a copy of the project to your phone.</p>
         
         <p>If everything works this first time, your phone should get dark, a image of the Unity will appear on the screen,
         soon followed by your game. </p>
         
         <p>You should now be able to play your game on your phone!</p>
         
         <p>Before we disconnect your phone from the computer, make sure you can still click on the <b>Globes</b> and you can look around.</p>
         
         <p>When everything works, you can exit your game by clicking on the gear in the top right corner and swiping up to close the 
         game.</p>
         
         <p>You should now see your game with your other apps in your App Menu! You can play it anytime you want!</p>
         
         <p>Attach your <b>Google Cardboard</b> to it and go have fun!</p>
         
         <p>You might have to take the phone out and restart the game manually for each new game. At this time, this tutorial 
         does not have the information up so you can have a restart button. That section is being developed for these tutorials
         in the future.</p>
          
        <h1>CONGRATULATIONS!!!!!!!!!! YOU HAVE JUST CREATED AND RAN YOUR FIRST VIRTUAL REALITY VIDEO GAME!</h1>
        <p>Now you can go out there and follow other tutorials, already knowing the basics! Good luck and remember to just have fun!</p>
       
         <img src="bootstrap2/images/gifs/finalDone.gif" class="img-fluid" width= "75% \9" >

          
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials4section3">Previous</a></button>
            <button id="nextBtn" title="next"><a href="index">Home</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>