<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Menu Bar</h2>
          
             <p> </p>
             <iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe>
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          
          <p>Welcome to the Menu Bar! </p>
          
          <p>Here we will be going over the overall details about the Menu Bar, what some of the items
          mean and do, as well as how we are going to use this to create our first game.</p>
          
          <p> Don't worry if later on you don't remeber what something does
          or the shortcuts! Every tutorial in the the game making tutorials
          will have a link back to this section! </p>
          
          <p>In the references area, I will have a part that will go 
          more into detail or at least show each of the different parts
          of Menu bar.</p>
          
          <p>All of File and Edit</p>
          
        
           <section>
            <h3 class="major">Table</h3>
            <h4>Default</h4>
         
            <h4>File </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>New Scene</td>
                    <td>Makes a New Scene.</td>
                    <td>Ctrl + N</td>
                  </tr>
                  <tr>
                    <td>Open Scene</td>
                    <td>Opens an existing Scene.</td>
                    <td>Ctrl + O</td>
                  </tr>
                  <tr>
                    <td>Save Scenes</td>
                    <td>Saves the Scene you are working on.</td>
                    <td>Ctrl + S</td>
                  </tr>
                  <tr>
                    <td>Save Scenes as...</td>
                    <td>Save the Scene under a new name.</td>
                    <td>Ctrl + Shift + S</td>
                  </tr>
                  <tr>
                    <td>New Project...</td>
                    <td>Creates a new project</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Open Project...</td>
                    <td>Opens an existing Project.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Save Project</td>
                    <td>Save the project you are working on.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Build Settings...</td>
                    <td>So you can build your project so you can see how it will show on your computer or phone.</td>
                    <td>Ctrl + Shift + B</td>
                  </tr>
                    <tr>
                    <td>Build & Run</td>
                    <td>Allows you to find a project you are working on and allows you to run or see it.</td>
                    <td>Ctrl + B</td>
                  </tr>
                    <tr>
                    <td>Exit</td>
                    <td>This allows you to quit and leave Unity. </td>
                    <td></td>
                  </tr>
                    
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Edit </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Undo</td>
                    <td>Undo what you just did, whether it be an item you created or a mistake you made.</td>
                    <td>Ctrl + Z</td>
                  </tr>
                  <tr>
                    <td>Redo</td>
                    <td>If you just clicked on Undo and you undid or deleted something you actually wanted on accident,
                    this will allow for the item or thing to come back.</td>
                    <td>Ctrl + Y</td>
                  </tr>
                  <tr>
                    <td>Cut</td>
                    <td>You can take a piece or a whole thing and move it somewhere else. Click on Paste when you 
                    know where you want to put it. </td>
                    <td>Ctrl + X</td>
                  </tr>
                  <tr>
                    <td>Copy</td>
                    <td>Did you make an item that you want more than one of or a piece of it? Click on the item and then click on 
                    Copy and you can make a second version of an item that's pretty much a copy of it. To place the item, 
                    Paste it.</td>
                    <td>Ctrl + C</td>
                  </tr>
                  <tr>
                    <td>Paste</td>
                    <td>This allows you to place the item you wanted down.</td>
                    <td>Ctrl + V</td>
                  </tr>
                  <tr>
                    <td>Duplicate</td>
                    <td>Like Copy, this allows you to make another version of something. Unlike Copy, 
                    Duplicate only allows you to copy or make another full version of something and it will automatically
                    Paste it in the location you are in. </td>
                    <td>Ctrl + D</td>
                  </tr>
                    <tr>
                    <td>Delete</td>
                    <td>This allows you to delete something you don't want or need anymore.</td>
                    <td>Shift + Del</td>
                  </tr>
                  <tr>
                    <td>Frame Selected</td>
                    <td>This allows you to select and choose an object in your hierarchy to move it.</td>
                    <td>F</td>
                  </tr>
                    <tr>
                    <td>Lock View to Selected</td>
                    <td>    </td>
                    <td>Shift + F</td>
                  </tr>
                  <tr>
                    <td>Find</td>
                    <td>Allows for you to search for an object or item you are looking for.</td>
                    <td>Ctrl + F</td>
                  </tr>
                    <tr>
                    <td>Select All</td>
                    <td>Allows for you to select all of the items.</td>
                    <td>Ctrl + A</td>
                  </tr>
                  <tr>
                    <td>Preferences...</td>
                    <td>VERY IMPORTANT! WILL USE AND GO BACK TO MULTIPLE TIMES!!!!
                    This opens up a different information box (GUI) and allows you to change, edit, and manage
                    some of the behind the scenes aspect of your Unity project. 
                    You can change General, External Tools, Colors, Keys, GI Cache, 2D, and Cache Server.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Modules...</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Play</td>
                    <td>This will allow for you to play your game. If you click this again, then you can stop
                    your game and you can continue to work on it. You may not use this command too much
                    because there is usually a play button on your screen. </td>
                    <td>Ctrl + P</td>
                  </tr>
                    <tr>
                    <td>Pause</td>
                    <td>This will allow for you to pause your game so you can see whats going on. You may not use this 
                    command too much because there is usually a play button on your screen.</td>
                    <td>Ctrl + Shift + P</td>
                  </tr>
                  <tr>
                    <td>Step</td>
                    <td>This allows for you to go through your game step by step so you can see what happens at everything
                    state. You may not use this command too much because there is usually a play button on your screen.</td>
                    <td>Ctrl + Atl + P</td>
                  </tr>
                    <tr>
                    <td>Sign in...</td>
                    <td>You can sign into Unity and save your stuff, work with others in a group, as well
                    as get new assets to make your game work better or look cool.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Sign out</td>
                    <td>You can sign out so either someone else can sign in and start
                    a project.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Selection</td>
                    <td>  You can save objects as Selections, then you can load them later on. 
                    Remeber what thing you save as what Selection. You can overwrite them
                    so becareful. We won't really use this in our tutorials.</td>
                    <td>--->
                    <li>  Load Selection 0-9</li>
                          <li>Save Selection 0-9</li>
                    </td>
                  </tr>
                  <tr>
                    <td>Project Settings</td>
                    <td>This includes all of the settings that you can personalize in the project. 
                    We won't really use this in our tutorials or our project.</td>
                    <td>--->
                          <li>  Input</li>
                          <li>Tags and Layers</li>
                          <li>Audio </li>
                          <li>Time</li>
                          <li>Player</li>
                          <li>Physics</li>
                          <li>Physics 2D</li>
                          <li>Quality</li>
                          <li>Graphics </li>
                          <li>Network</li>
                          <li>Editor</li>
                          <li>Script Execution Order</li>
                          <li>Preset Manage</li>
                          </td>
                  </tr>
                    <tr>
                    <td>Graphics Emulation</td>
                    <td>This is pretty much what level your graphics are at. If your laptop does not have really good graphics,
                    you can change them here. We won't really use this in our tutorials or our project.</td>
                    <td>---->
                     <li>No Emulation</li>
                          <li>OpenGL ES 3.0</li>
                          <li>OpenGL ES 2.0 </li>
                          <li>Shader Hardware Tier 1</li>
                          <li>Shader Hardware Tier 2</li>
                          <li>Shader Hardware Tier 3</li>
                          </td>
                  </tr>
                  <tr>
                    <td>Network Emulation</td>
                    <td> This is were you can tell Unity whether you want it to go online.
                    We won't really use this in our tutorials or our project.</td>
                    <td>---> 
                          <li>None</li>
                          <li>Broadband</li>
                          <li>DSL</li>
                          <li>ISDN</li>
                          <li>Dial-Up</li>
                          </td>
                          </tr>
                    <tr>
                    <td>Snap Settings...</td>
                    <td>You can change the settings of the x, y, and z-axis. We won't really 
                    use this in our tutorials or our project.    </td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            
            <h4>Assets </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create</td>
                    <td>This is where you can create scripts, which help things happen, as well as other stuff.
                    We will be using this, but through other places, so we will not be going here directly. </td>
                    <td>--->
                          <li>C# Script</li>
                          <li>Shader --->
                              	<li>Standard Surface Shader</li>
                                <li>Unlit Shader</li>
                                <li>Image Effect Shader</li>
                                <li>Compute Shader</li>
                                <li>Shader Variant Collection</li>
                          </li>
                          <li>Testing --->
                            		<li>Tech Assembly Folder</li>
                            		<li>C# Test Script</li>
                          </li>
                          <li>Playables --->
                            		<li>Playable Behaviour C# Script</li>
                            		<li>Playable Asset C# Script</li></li>
                          <li>Assembly Definition</li>
                          <li>Scene</li>
                          <li>Prefab</li>
                          <li>Audio Mixer</li>
                          <li>Material</li>
                          <li>Lens Flare</li>
                          <li>Render Texture</li>
                          <li>Lightmap Parameters</li>
                          <li>Custom Render Texture</li>
                          <li>Sprite Atlas</li>
                          <li>Sprites --->
                              		<li>Square</li>
                              		<li>Triangle</li>
                                  <li>Diamond</li>
                                  <li>Hexagon</li>
                                  <li>Circle</li>
                                  <li>Polygon</li>
                          </li>
                          <li>Tile</li>
                          <li>Animator Controller</li>
                          <li>Animation</li>
                          <li>Animator Override Controller</li>
                          <li>Avatar Mask</li>
                          <li>Timeline</li>
                          <li>Physic Material</li>
                          <li>Physics Material 2D</li>
                          <li>GUI Skin</li>
                          <li>Custom Font</li>
                          <li>Legacy --->
                              		<li></li>Cubemap</li>
                              		<li></li>UnityScript (deprecated)</li></li>
                          <li>UIElements VIew</li>
                          </td>
                  </tr>
                  <tr>
                    <td>Show in Explorer</td>
                    <td> </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Open</td>
                    <td> </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Delete</td>
                    <td>Allows you to delete an object. You can do the same thing if you right click
                    on the object.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Rename</td>
                    <td>Allows you to rename the object. You can do the same thing if you right click
                    on the object. </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Open Scene Additive</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Import New Asset...</td>
                    <td> This will allow you to import, or bring in, a new asset.    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Import Package</td>
                    <td>  This will allow you to import, or bring in, a new package.  </td>
                    <td>--->
                          <li>Custom Package...</li>
                          <li>2D</li>
                          <li>Cameras</li>
                          <li>Characters</li>
                          <li>CrossPlaformInput</li>
                          <li>Effects</li>
                          <li>Environment</li>
                          <li>Particle Systems</li>
                          <li>Prototyping</li>
                          <li>Utility</li>
                          <li>Vehicles</li>
                          </td>
                  </tr>
                    <tr>
                    <td>Export Package...</td>
                    <td>This allows you export, or to bring somewhere else not in a Unity, a package. </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Find References In Scene</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Select Dependencies</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Refresh</td>
                    <td>  This allows for you to refresh the   </td>
                    <td>Ctrl + R </td>
                  </tr>
                    <tr>
                    <td>Reimport </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Reimport All </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Extract From Prefab </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Run API Updater... </td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Open C# Project</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>GameObject </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create Empty</td>
                    <td>This allows you create an empty item, where we can attach or do stuff to it later.  </td>
                    <td>Ctrl + Shift + N</td>
                  </tr>
                  <tr>
                    <td>Create Empty Child</td>
                    <td>This creates an empty child, or an empty object where we can attach or do stuff to it later. </td>
                    <td>Alt + Shift + N</td>
                  </tr>
                  <tr>
                    <td>3D Object</td>
                    <td> This allows you to make an 3D object that we can use and see in the game.  </td>
                    <td>--->
                          <li>Cube</li>
                          <li>Sphere</li>
                          <li>Capsule</li>
                          <li>Cylinder</li>
                          <li>Plane</li>
                          <li>Quad</li>
                          <li>Ragdoll...</li>
                          <li>Terrain</li>
                          <li>Tree</li>
                          <li>Wind Zone</li>
                          <li>3D Text</li>
                    </td>
                  </tr>
                  <tr>
                    <td>2D Object</td>
                    <td> This allows you to make an 2D object that we can use and see in the game. Since we are working 
                    in VR, we will not be using this. </td>
                    <td>--->
                          <li>Sprite</li>
                          <li>Sprite Mask</li>
                          <li>Tilemap</li>
                        </td>
                  </tr>
                  <tr>
                    <td>Effects</td>
                    <td>This allows you to make some cool effects. You can also get some cool premade effects
                    by downloading some assets. </td>
                    <td>--->
                          <li>Particle System</li>
                          <li>Trail</li>
                          <li>Line</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Light</td>
                    <td>  This allows you to make or fix your lights in your game.  </td>
                    <td>--->
                          <li>Directional Light</li>
                          <li>Point Light</li>
                          <li>Spotlight</li>
                          <li>Area Light</li>
                          <li>Reflection Probe</li>
                          <li>Light ProbeGroup</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Audio</td>
                    <td> This allows you to make or fix your audio in your game.   </td>
                    <td>--->
                          <li>Audio Source</li>
                          <li>Audio Reverb Zone</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Video</td>
                    <td>   This allows you to watch the game on a video player. </td>
                    <td>--->
                          <li>Video Player</li>
                      </td>
                  </tr>
                    <tr>
                    <td>UI</td>
                    <td>  This allows you to add and create items to the game itself, so you can
                    see your score, press different buttons, and other stuff. </td>
                    <td>--->
                          <li>Text</li>
                          <li>Image</li>
                          <li>Raw Image</li>
                          <li>Button</li>
                          <li>Toggle</li>
                          <li>Slider</li>
                          <li>Scrollbar</li>
                          <li>Dropdown</li>
                          <li>Input Field</li>
                          <li>Canvas</li>
                          <li>Panel</li>
                          <li>Scroll View</li>
                          <li>Event System</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Vuforia</td>
                    <td>   ???? </td>
                    <td>--->
                          <li>AR Camera</li>
                          <li>Image</li>
                          <li>Multi Image</li>
                          <li>Cylindrical Image</li>
                          <li>Cloud Image ---></li>
                          <li>Camera Image --->li>
                          <li>3D Scan</li>
                          <li>VuMark</li>
                          <li>Ground Plane ---></li>
                          <li>Mid Air ---></li>
                      </td>
                  </tr>
                    <tr>
                    <td>Camera</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Center On Children</td>
                    <td> Focus on the children   </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Make Parent</td>
                    <td>  Make an object a parent, or the top item out of a group of items.   </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Clear Parent</td>
                    <td>   Make it so that the object isn't a parent and all of the children or other objects
                    go to back into the normal hierarchy.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Apply Changes To Prefab</td>
                    <td>    </td>
                    <td></td>
                  </tr><tr>
                    <td>Break Prefab Instance</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Set as first sibling</td>
                    <td>  Make the object directly under the parent.  </td>
                    <td>Ctrl +=</td>
                  </tr><tr>
                    <td>Set as last sibling</td>
                    <td>  Make the object under the last child.   </td>
                    <td>Ctrl + -</td>
                  </tr>
                    <tr>
                    <td>Move To View</td>
                    <td>    </td>
                    <td>Ctrl + Alt + F</td>
                  </tr>
                  <tr>
                    <td>Align With View</td>
                    <td>    </td>
                    <td>Ctrl + Shift + F</td>
                  </tr>
                    <tr>
                    <td>Align View to Selected</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Toggle Active State</td>
                    <td>    </td>
                    <td>Alt + Shift + A</td>
                  </tr>
      
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Component </h4>
            <p>You don't need anything in Physics 2D since we are working in 3D. </p>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Add...</td>
                    <td>    </td>
                    <td>Ctrl + Shift + A</td>
                  </tr>
                  <tr>
                    <td>Mesh</td>
                    <td>     </td>
                    <td>--->
                          <li>Mesh Filter</li>
                          <li>Text Mesh</li>
                          <li>Mesh Renderer</li>
                          <li>Skinned Mesh Renderer</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Effects</td>
                    <td>  Make cool effects. We are not going to use this during our game or tutorials.    </td>
                    <td>--->
                          <li>Particle System</li>
                          <li>Trail Renderer</li>
                          <li>Line Renderer</li>
                          <li>Lens Flare</li>
                          <li>Halo</li>
                          <li>Projector</li>
                          <li>Legacy Particles ---></li>
                      </td>
                  </tr>
                  <tr>
                    <td>Physics</td>
                    <td>       </td>
                    <td>--->
                          <li>Rigidbody</li>
                          <li>Character Controller</li>
                          <li>Box Collider</li>
                          <li>Sphere Collider</li>
                          <li>Capsule Collider</li>
                          <li>Mesh Collider</li>
                          <li>Wheel Collider</li>
                          <li>Terrain Collider</li>
                          <li>Cloth</li>
                          <li>Hinge Joint</li>
                          <li>Fixed Joint</li>
                          <li>Spring Joint</li>
                          <li>Character Joint</li>
                          <li>Configurable Joint</li>
                          <li>Constant Force</li>
                      </td>
                  </tr>
                  
                  <tr>
                    <td>Navigation</td>
                    <td>    </td>
                    <td>--->
                          <li>Nav Mesh Agent</li>
                          <li>Off Mesh Link</li>
                          <li>Nav Mesh Obstacle</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Rendering</td>
                    <td>    </td>
                    <td>--->
                          <li>Tilemap</li>
                          <li>Tilemap Renderer</li>
                          <li>Tilemap Collider 2D</li>
                      </td>
                  </tr><tr>
                    <td>Tilemap</td>
                    <td>    </td>
                    <td>--->
                          <li>Rect Transform</li>
                          <li>Canvas</li>
                          <li>Canvas Group</li>
                          <li>Canvas Scaler</li>
                          <li>Layout Element</li>
                          <li>Content Size Fitter</li>
                          <li>Aspect Ratio Fitter</li>
                          <li>Horizontal Layout Group</li>
                          <li>Vertical Layout Group</li>
                          <li>Grid Layout Group</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Layout</td>
                    <td>    </td>
                    <td>--->
                          <li>Rect Transform</li>
                          <li>Canvas</li>
                          <li>Canvas Group</li>
                          <li>Canvas Scaler</li>
                          <li>Layout Element</li>
                          <li>Content Size Fitter</li>
                          <li>Aspect Ratio Fitter</li>
                          <li>Horizontal Layout Group</li>
                          <li>Vertical Layout Group</li>
                          <li>Grid Layout Group</li>
                      </td>
                  </tr><tr>
                    <td>Playables</td>
                    <td>    </td>
                    <td>--->
                          <li>Playable Director</li>
                      </td>
                  </tr>
                    <tr>
                    <td>AR</td>
                    <td>    </td>
                    <td>--->
                          <li>World Anchor</li>
                      </td>
                  </tr>
                  <tr>
                    <td>Miscellaneous</td>
                    <td>    </td>
                    <td>--->
                          <li>Animator</li>
                          <li>Position Constraint</li>
                          <li>Rotation Constraint</li>
                          <li>Scale Constraint</li>
                          <li>Parent Constraint</li>
                          <li>Aim Constraint</li>
                          <li>Terrain</li>
                          <li>Billboard Renderer</li>
                          <li>Network View</li>
                          <li>Animation</li>
                          <li>Grid</li>
                          <li>Wind Zone</li>
                          <li>Sprite Mask</li>
                          <li>Sprite Shape Renderer</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Scripts</td>
                    <td>    </td>
                    <td>--->
                          <li>GoogleVR.Demos ---></li>
                          <li>GoogleVR.HelloVR ---></li>
                          <li>GoogleVR.KeyboardDemo ---></li>
                          <li>GoogleVR.PermissionsDemo ---></li>
                          <li>GoogleVR.VideoDemo ---></li>
                          <li>Gvr.Internal  ---></li>
                          <li>UnityEngine.EventSystems---->
                                       Base Input
                                       Holo Lens Input</li>
                          <li>Vuforia --->
                                        <li>Anchor Behaviour</li>
                                        <li>Anchor Input Listener Behaviour</li>
                                        <li>Anchor Stage Behaviour</li>
                                        <li>Background Plane Behaviour</li>
                                        <li>Cloud Reco Behaviour</li>
                                        <li>Content Positioning Behaviour</li>
                                        <li>Cylinder Target Behaviour</li>
                                        <li>GL Error Handler</li>
                                        <li>Guide View 2D Behaviour</li>
                                        <li>Guide View 3D Behaviour</li>
                                        <li>Guide View Camera Behaviour</li>
                                        <li>Guide View Rendering Behaviour</li>
                                        <li>Image Target Behaviour</li>
                                        <li>Mask Out Behaviour</li>
                                        <li>Mid Air Positioner Behaviour</li>
                                        <li>Model Target Behaviour</li>
                                        <li>Multi Target Behaviour</li>
                                        <li>Object Target Behaviour</li>
                                        <li>Plane Finder Behaviour</li>
                                        <li>Preview Model Turn Off Behaviour</li>
                                        <li>Turn Off Behaviour</li>
                                        <li>User Defined Target Building Behaviour</li>
                                        <li>Video Background Behaviour</li>
                                        <li>Virtual Button Behaviour</li>
                                        <li>Vuforia Behaviour</li>
                                        <li>Vu Mark Behaviour</li>
                                        <li>Wireframe Behaviour</li>
                                        <li>Wireframe Trackable Event Handler</li>
                                        </li>
                          <li>Count Update</li>
                          <li>Default Initialization Error Handler Internal</li>
                          <li>Default Initialization Error Handler Place Holder</li>
                          <li>Default Trackable Behaviour Placeholder</li>
                          <li>Exit Game</li>
                          <li>Gvr All Events Trigger</li>
                          <li>Gvr Arm Model</li>
                          <li>Gvr Controller Input</li>
                          <li>Gvr Controller Reticle Visual</li>
                          <li>Gvr Controller Tooltips Simple</li>
                          <li>Gvr Controller Visual</li>
                          <li>Gvr Dropdown</li>
                          <li>Gvr Editor Emulator</li>
                          <li>Gvr Headset</li>
                          <li>Gvr Keyboard</li>
                          <li>Gvr Laser Pointer</li>
                          <li>Gvr Laser Visual</li>
                          <li>Gvr Recenter Only Controller</li>
                          <li>Gvr Recticle Pointer</li>
                          <li>Gvr Scroll Settings</li>
                          <li>Gvr Tooltip</li>
                          <li>Gvr Tracked Controller</li>
                          <li>Gvr Video Player Texture</li>
                          <li>Instant Preview Helper</li>
                          <li>Reset But</li>
                          <li>Reticle Test</li>
                          <li>Spinning Cube</li>
                          <li>Test Scfript 1</li>
                          <li>Vuforia Mono Behaviour</li>
                      </td>
                  </tr><tr>
                    <td>Analytics</td>
                    <td>    </td>
                    <td>--->
                          <li>Analytics Event Tracker</li>
                          <li>AnalyticsTracker</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Event</td>
                    <td>    </td>
                    <td>--->
                          <li>Event System</li>
                          <li>Event Trigger</li>
                          <li>HoloLens Input Module</li>
                          <li>Physics 2D Raycaster</li>
                          <li>Physics Raycaster</li>
                          <li>Standalone Input Module</li>
                          <li>Graphic Raycaster</li>
                      </td>
                  </tr><tr>
                    <td>Network</td>
                    <td>    </td>
                    <td>--->
                          <li>NetworkAnimator</li>
                          <li>NetworkDiscovery</li>
                          <li>NetworkIdentity</li>
                          <li>NetworkLobbyManager</li>
                          <li>NetworkLobbyPlayer</li>
                          <li>NetworkManager</li>
                          <li>NetworkManagerHUD</li>
                          <li>NetworkMigrationManager</li>
                          <li>NetworkProximityChecker</li>
                          <li>NetworkStartPosition</li>
                          <li>NetworkTransform</li>
                          <li>NetworkTransformChild</li>
                          <li>NetworkTransformVisualizer</li>
                      </td>
                  </tr>
                    <tr>
                    <td>XR</td>
                    <td>    </td>
                    <td>--->
                          <li>Tracked Pose Driver</li>
                          <li>Spatial Mapping Collider</li>
                          <li>Spatial Mapping Renderer</li>
                      </td>
                  </tr><tr>
                    <td>UI</td>
                    <td>    </td>
                    <td>--->
                          <li>Effects ---></li>
                          <li>Text</li>
                          <li>Image</li>
                          <li>Raw Image</li>
                          <li>Mask</li>
                          <li>Rect Mask 2D</li>
                          <li>Button</li>
                          <li>Input Field</li>
                          <li>Toggle</li>
                          <li>Toggle Group</li>
                          <li>Slider</li>
                          <li>Scrollbar</li>
                          <li>Dropdown</li>
                          <li>Scroll Rect</li>
                          <li>Selectable</li>
                      </td>
                  </tr>
                    <tr>
                    <td>GoogleVR</td>
                    <td>    </td>
                    <td>--->
                          <li>Audio ---></li>
                          <li>GvrPointerGraphicRaycaster</li>
                          <li>GvrPointerInputModule</li>
                          <li>GvrPointerPhysicsRaycaster</li>
                      </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
    
            <h4>GoogleVR </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Editor Settings</td>
                    <td>     </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Report Bug</td>
                    <td>     </td>
                    <td> </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
        
            <h4>Window </h4>
            <p>This drop down is to help you move around and change your windows, or what you see on your sceen.
            The first time you open Unity, you will see the default screen. What if you wanna see more or less?
            What if you accidently closed something you shouldn't have? </p>
            <p>If you ever want your screen to go back to 
            normal go to Window, then to Layout, and then click on Revert Factory Settings...
            This will reset all of your windows to the default settings. (This will not delete any of your
            work. If it does, check the Help page.)</p>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Layout</td>
                    <td>  </td>
                    <td>--->
                          <li>2 by 3</li>
                          <li>4 Split</li>
                          <li>Default</li>
                          <li>Tall</li>
                          <li>Wide</li>
                          <li>Save Layout...</li>
                          <li>Delete Layout...</li>
                          <li>Revert Factory Settings... This will set everything back to normal.</li></td>
                  </tr>
                  <tr>
                    <td>Package Manager</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Services</td>
                    <td>    </td>
                    <td>Ctrl + 0</td>
                  </tr>
                    <tr>
                    <td>Scene</td>
                    <td>    </td>
                    <td>Ctrl + 1</td>
                  </tr>
                  <tr>
                    <td>Game</td>
                    <td>    </td>
                    <td>Ctrl + 2</td>
                  </tr>
                    <tr>
                    <td>Inspector</td>
                    <td>    </td>
                    <td>Ctrl + 3</td>
                  </tr><tr>
                    <td>Hierarchy</td>
                    <td>    </td>
                    <td>Ctrl + 4</td>
                  </tr>
                    <tr>
                    <td>Project</td>
                    <td>    </td>
                    <td>Ctrl + 5</td>
                  </tr><tr>
                    <td>Animation</td>
                    <td>    </td>
                    <td>Ctrl + 6</td>
                  </tr>
                    <tr>
                    <td>Profiler</td>
                    <td>    </td>
                    <td>Ctrl + 7</td>
                  </tr><tr>
                    <td>Audio Mixer</td>
                    <td>    </td>
                    <td>Ctrl + 8</td>
                  </tr>
                    <tr>
                    <td>Asset Store</td>
                    <td>    </td>
                    <td>Ctrl + 9</td>
                  </tr>
                  <tr>
                    <td>Version Control</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Collab History</td>
                    <td>    </td>
                    <td> </td>
                  </tr><tr>
                    <td>Frame Dubugger</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Console</td>
                    <td>    </td>
                    <td>Ctrl + Shift + C</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            
             <h4>Help </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>About Unity...</td>
                    <td>   </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Manage License...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Unity Manual</td>
                    <td>   </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Unity Forum</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Unity Answers</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Check for Updates</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Download Beta...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Release Notes</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Software Licenses</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Report a Bug...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Reset Package to defaults</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Troubleshoot Issue...</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
     </section>
          
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials2section1">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2section3">Next</a></button>
          </div>
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li> Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/main.js"></script>
</body>