<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h1>Tutorial 2 Section 4</h1>
           <h2>Tool Bar</h2>
          
             <p>What are all of those buttons with the cool symbols?</p>
             
             
              <img src="bootstrap2/images/everything_together3.png" class="img-fluid" width= "100% \9"; > 
           
            <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          
            <p>Well all of those cool buttons with those symbols on them all
          belong to the 'Tool Bar'. We use these buttons to help us move through
          our 'Scene View' and interact with the things that will be going in 
          our game.</p>
          
          <p>For example, they help us to move a box from one side of our screen
          to the next. </p>
          
          <p> Since we are going to be creating our game in Virtual Reality, or
          in 3D, we need to have a basic understanding of the 3 directions that 
          Unity uses. </p>
          
          <p>The 3 directions (axis) are:
            
            <ul></li>
                <li>X - horizontal (1st Dimension)</li>
                <li>Y - Vertical	(2nd Dimension)</li>
                <li>Z - Depth 	(3rd Dimension)</li></ul></p>
                <p> The z-axis is called the 'third axis' or the '3rd dimension'. 
                It usually represents depth, or the distance between objects. 
                With depth, we can tell how far away one object is from another. </p>
                
                <p>To understand this, put a finger in front of your face and focus
                on it if you can. The space between your finger and your face is depth. 
                You know your finger is in front of you, but you can't fully trace exactly 
                how much space is between your face and your finger by using a ruler, since
                the space between your finger and your eyes is different compared to the
                space between your finger and your nose.</p>
                
              <p>Now to help us move around the 3 directions in Unity, we have cool buttons
              to use. </p>
          
          <p>Below you will find the information on the buttons we will be 
          using while making our game. If you want to find out what each
          of the buttons do, click on *here* to go the help page for this
          chapter. </p>
              

           <section>
            <h3 class="major">Buttons</h3>
            <h4></h4>

            <h4>Left Side Buttons </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Hand</td>
                    <td>Allows you to move around the screen.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Move</td>
                    <td>This allows for you to move an object.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Rotate</td>
                    <td>This allows for you to rotate an object.
                    For example if you want a tree to be upside down, this
                    is where you will go to do that.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Scale</td>
                    <td>It can change the full size of an object.</td>
                    <td> </td>
                  </tr>
                  <tr>
                    <td>Rect</td>
                    <td>It can change the individual size of an object.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Move, Rotate or Scale selected Objects</td>
                    <td>It does everything but what the Hand tool does.</td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Middle Buttons </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Play</td>
                    <td>This starts the game. By pressing it again, 
                    it will stop it so you can go back and continue working on the game.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Pause</td>
                    <td>This allows for you to pause the game while you are testing it.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Step</td>
                    <td>This allows for you to 'step', or go through, individual parts of the game.</td>
                    <td></td>
                  </tr>
                  
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            
            <h4>Right Side Buttons </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td> Layout</td>
                    <td>	Default (original)
                	How you see all the screens and how you work with them. 
                	Do you want to see all the screens or not? Do you want to see 
                	where 2 cameras are looking at or only 1? This is where you change it.
                	This does some of the same things that 'Window' in the 'Menu Bar'
                	can do. </td>
                    <td></td>
                  </tr>
                
                </tfoot>
              </table>
            </div>
          
     </section>
    
          
            
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials2section3">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2section5">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>