<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h1>Tutorial 4 Section 3</h1>
          <h2>Developer Options</h2>
          
          <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
        <!---   <h2>Download Unity</h2>
          
             <p>Ready to get Started?</p>
             <iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe> -->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
      
          <p>We have another important step.</p>
          
          <p>If you have an iOS device, please skip this part.</p>
          
          <p>Now this last major step is something that you cannot undo. <b>If you are under 18, please get your 
          parents permission before performing this last step.</b> Unfortunately there is not a way to currently
          bypass this at the time these tutorials were being made.</p>
          
          <p>Please do not use this step for anything else not described in this tutorial.</p>
          
          <p>We are going to allow for our phones to accept our project. To do this, we need to change a few features around.</p>
          
          <p>On Android phones, this is called allowing for <b>Developer Options</b>. </p>
          <p>While you can technically turn it off, you cannot permanently remove this option from your phone 
          later. </p>
          
          <p><b>Developer Options</b> allow you to add personal apps that you have created to your phone. 
          The good thing about this is whenever you want to test out a game or a new app, you can do that
          on this phone. </p>
          
         
          
          <p>Go to the <b>settings</b> on the phone. You can search for the <b>gear icon</b> in the top <b>menu bar</b>. </p>
          <p>When you find it, go down and look for the <b>About Phone</b>  or <b>Software Information</b> menus.</p>
          <p>Now look for <b>Software Information</b>. When you find it, click on it.</p>
          <p>If the version on your phone is older, skip to the step below.</p>
          <p>When you have entered <b>Software Information</b>, look for <b>Build Number.</b> Tap on it about seven times. 
          A pop up should appear saying that <b>Developer Options are now turned on</b>.</p>
          
          <p>Go back and you should see something called <b>Developer Options</b> now appearing in your settings.</p>
          <p>You can now turn them on or off. For the moment, keep this on. We do not need to do anything with the 
          Developer Options, we just want to make sure that it is on. </p>
          
          <p>Before you leave, click on <b>USB debugging</b> and make sure it is enabled. </p>
          
          
          <p>When you are ready go onto the next tutorial for the <strong>FINAL</strong> step. </p>
          
          
          <p>Please be aware that for the previous information, I followed a tutorial from Digital Trends, the link presented below.</p>
          <p>https://www.digitaltrends.com/mobile/how-to-get-developer-options-on-android/</p>
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials4section2">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials4section4">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>