<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Download Unity</h2>
          
             <p>Ready to get Started?</p>
             <iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe>
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
      
          
          
          <p>First, let’s go to Unity’s <a href= "https://unity3d.com/">website</a>. 
          You can also click on <a href= "https://unity3d.com/">https://unity3d.com/</a>
          to take you there. You should make sure that the page opens up in a
          new tab so that way you can look at this page and at Unity’s page at 
          the same time. </p>
          
          <p>You should see (t1s1i1). We are now going to click on Get Unity.</p>
          
          <p>After doing so, Unity will give you four different “plans” to 
          choose from. All of the plans except for Personal charge money. 
          The reason why is because they offer other benefits that the Personal 
          plan does not come with. They also are for more experienced users and 
          for organizations and companies. For us, the Personal version will work 
          the best. Click on the green Try Personal button. </p>
          
          <p>Awesome!</p>
          
          <p>Now here is where things can get a little bit confusing. 
          First off, do you have a Mac or a PC? A PC is usually any 
          computer that is not a Mac. </p>
          
          <p>Now, you will need to make sure that your computer 
          meets all of the minimum requirements for Unity to work. If you don’t 
          meet the minimum requirements, then Unity may not install or it may install,
          but it will run super slowly. </p>
           
          <p>For PCs, your computer needs to have at least Windows 7. 
          If you have Windows 8 or 10, then you are fine. </p>
          <p>You need to also make sure that your Graphics card has 
          at least DX9 with shader model 3.0 or be at least DX11. </p>
          <p>Now this is a lot of confusing information. What does DX9 
          mean? What does shader model mean? You can check out
         <a href= "resources">Here</a> to learn more about it. 
          For now, understand that this information just means how nice and
          pretty your computer can make things look. </p>
          
          <p>To check what type of DX you have, do the following. 
          (This will differ on whether the person has 7, 8. 8.1, or 10, I 
          cant do images of 7 or 8 unfortunately)</p>
          
          <h4> For Windows 10:</h4>
          <li>Click on Cortana.</li>
          <li>In Type To Search, type in Run and hit Enter.</li>
          <li>Type in dxdiag in the box and then click on OK</li>
          <li>Look for DirectX Version and It will tell you what version of 
              DX you have (it will say DirectX 12 for example).</li>
          <li>When you are done, click on Exit.</li> 
          <p>And there you go!</p>

          <h4> For Macs:</h4>
          <p>System Requirements for Unity version 5.6.1, released 11 May 2017
          OS: Windows 7 SP1+, 8, 10; Mac OS X 10.8+. Mac</p>
          <p>System Requirements for Unity version 5.6.1, released 11 May 2017
          OS: Windows 7 SP1+, 8, 10; Mac OS X 10.8+.
          GPU: Graphics card with DX9 (shader model 3.0) or DX11 with feature level 9.3 capabilities.
          </p>
          
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials1">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials1section2">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>