<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
     <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h1>Tutorial 2 Section 2</h1>
          <h2>Unity Interface</h2>
          
              <img src="bootstrap2/images/everything_together.png" class="img-fluid" width= "100% \9"; > 
           
             <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
            <!-- <img src="bootstrap2/images/everything_together2.png" alt="" height="500" width="500"> -->
             <!--<iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe>-->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          
          
          
     <p> Welcome to the Unity interface! This is where we will be making our game. Before we start with that, 
                we need to get ourselves familiar with all of the different components, or items, that is on this screen.</p> 
                
               <p> While we won’t be going into detail about every little thing on here, we do want to at least have an idea 
                about what most of this stuff does. </p>
                
               <p> For example, what is a ‘Menu Bar’? What does this play button do? What is this huge screen in front of us do?</p>
                
                <p>You will be learning all of this over the next few sections. </p>
                
               <p> For the moment, let us start with the names for each area. </p>
                
               <p> At the very top of Unity, you will see the words ‘File’, ‘Edit’, ‘Window’, etc. The name for this entire
                section is the Menu Bar. The Menu Bar is essentially an a place where you can save your project, create
                new objects, look for help, and change things. It has the most things you can play with.</p>
                
               <p> Next up is the Tool Bar. The Tool Bar is all of the items and symbols that are right below the Menu Bar.
                All of these symbols mean and do different things. Can you guess what they all do?</p>
                
               <p> To the left of your screen, you will see the Hierarchy Window. This is where you can see everything you
                are currently using in your project. You can interact with the stuff in here, create quick objects, and
                with one click, look at your object (like a cube or the lights) and find more information in the
                Inspector Window.  </p>
                
               <p> Now to the very right of your screen, you will see the Inspector Window. This is where you can find 
                information about your object and make changes. For example, you can change the color of a tree or a
                car here. </p>
                
               <p> The very big screen in the middle of Unity is called the Scene View, or #Scene. The Scene View, is
                where we can see, move, and interact with items we create. </p>
                
                <p>If you click on the tab next to #Scene, we will get the Game View. The Game View shows us how 
                the game will look to our players. </p>
                
                <p>At the bottom of Unity, you will see a folder called Project. This is the Project View. This 
                has stuff called Favorites, Assets, and Packages already in there. In here you can save copies
                of things you create in your Hierarchy so you can reuse them. Also anything you download from 
                the Assets store will pop up here.  </p>
                
               <p> One part of the Project View is the Console. We will use this to figure out if there’s any problems 
                with our game and how to solve them. We might not be able to solve every problem, but we can use the
                information this prints out to find out where and what may be the issue. </p>
                
            
              <p>Here is a little overview about the different sections of Unity. In the next chapter, we will be 
              going over some of the details of the Menu Bar. </p>
          
      <div class="wrapper">
        <div class="inner">
         
          <p>After you are finished, you can go onto the next tutorial
            or click on the previous button if you think you missed something in the 
            last tutorial.</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials2section1">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2section3">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>