<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Hierarchy</h2>
          
             <p> </p>
            <img src="bootstrap2/images/everything_together4.png" alt="" height="500" width="500">
            <img src="bootstrap2/images/everything_together5.png" alt="" height="500" width="500">
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          
          
          <p></p>
          
          <p></p>
          
          <p>
            Hierarchy 
            	Info about what is on or in your game (Ex: car- different parts to it)
            		-You can also add new parts to the items here or change some things. 
            		If you want to work on a Sphere or a Cube (for example), click on 
            		the part here. You can also move things In your game by clicking
            		here first if they are too hard to click on in the Scene. 
            Components
            
            
            ALSO SCENE VIEW
            MAYBE ALSO GAME VIEW AND ASSETS
            </p>
          
          <p> So below, I'm going to include the most important
          parts of the Menu bar, how to use them, and what they do. </p>
          
          <p> Don't worry if later on you don't remeber what something does
          or the shortcuts! Every tutorial in the the game making tutorials
          will have a link back to this section! </p>
          
          <p>In the references area, I will have a part that will go 
          more into detail or at least show each of the different parts
          of Menu bar.</p>
          
          
          <p>
                          
              Game Window   :
              
              
              Scene
              Game
              	Display 1
              		Main camera, more than one camera is Display 2 etc..
              	Scale 
              	Free Aspect
              	Maximize on Play
              	Mute Audio
              	Stats
              	Gizmos
              
              Asset Store
              	Where you can download new material, assets, mesh, etc.
              	Free and ones you can pay for
              		Pay = more detail
              		Free = generic
              
              Hierarchy 
              	Info about what is on or in your game (Ex: car- different parts to it)
              		-You can also add new parts to the items here or change some things.
              		If you want to work on a Sphere or a Cube (for example), click
              		on the part here. You can also move things In your game by
              		clicking here first if they are too hard to click on in the Scene. 
              Components
              Project 
              	Favorite
              	Assets
              Console	Any errors or problems with the game or the things you are using
                        </p>
          
        <h4> File </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
          
        <h4> Edit </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
          
        <h4> Assets </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
          
        <h4> GameObject </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
             
        <h4> Component </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
          
        <h4> GoogleVR </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
          
        <h4> Window </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
          
        <h4> Help </h4>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li> 
          
           <section>
            <h3 class="major">Table</h3>
            <h4>Default</h4>
         
            <h4>File </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>New Scene</td>
                    <td>Makes a New Scene.</td>
                    <td>Ctrl + N</td>
                  </tr>
                  <tr>
                    <td>Open Scene</td>
                    <td>Opens an existing Scene.</td>
                    <td>Ctrl + O</td>
                  </tr>
                  <tr>
                    <td>Save Scenes</td>
                    <td>Saves the Scene you are working on.</td>
                    <td>Ctrl + S</td>
                  </tr>
                  <tr>
                    <td>Save Scenes as...</td>
                    <td>Save the Scene under a new name.</td>
                    <td>Ctrl + Shift + S</td>
                  </tr>
                  <tr>
                    <td>New Project...</td>
                    <td>Creates a new project</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Open Project...</td>
                    <td>Opens an existing Project.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Save Project</td>
                    <td>Save the project you are working on.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Build Settings...</td>
                    <td>So you can build your project so you can see how it will show on your computer or phone.</td>
                    <td>Ctrl + Shift + B</td>
                  </tr>
                    <tr>
                    <td>Build & Run</td>
                    <td>Allows you to find a project you are working on and allows you to run or see it.</td>
                    <td>Ctrl + B</td>
                  </tr>
                    <tr>
                    <td>Exit</td>
                    <td>This allows you to quit and leave Unity. </td>
                    <td></td>
                  </tr>
                    
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Edit </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Undo</td>
                    <td>Test 1</td>
                    <td>Ctrl + Z</td>
                  </tr>
                  <tr>
                    <td>Redo</td>
                    <td>Test 2</td>
                    <td>Ctrl + Y</td>
                  </tr>
                  <tr>
                    <td>Cut</td>
                    <td>Test 3</td>
                    <td>Ctrl + X</td>
                  </tr>
                  <tr>
                    <td>Copy</td>
                    <td>Test 4</td>
                    <td>Ctrl + C</td>
                  </tr>
                  <tr>
                    <td>Paste</td>
                    <td>    </td>
                    <td>Ctrl + V</td>
                  </tr>
                  <tr>
                    <td>Duplicate</td>
                    <td>    </td>
                    <td>Ctrl + D</td>
                  </tr>
                    <tr>
                    <td>Delete</td>
                    <td>    </td>
                    <td>Shift + Del</td>
                  </tr>
                  <tr>
                    <td>Frame Selected</td>
                    <td>    </td>
                    <td>F</td>
                  </tr>
                    <tr>
                    <td>Lock View to Selected</td>
                    <td>    </td>
                    <td>Shift + F</td>
                  </tr>
                  <tr>
                    <td>Find</td>
                    <td>    </td>
                    <td>Ctrl + F</td>
                  </tr>
                    <tr>
                    <td>Select All</td>
                    <td>    </td>
                    <td>Ctrl + A</td>
                  </tr>
                  <tr>
                    <td>Preferences...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Modules...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Play</td>
                    <td>    </td>
                    <td>Ctrl + P</td>
                  </tr>
                    <tr>
                    <td>Pause</td>
                    <td>    </td>
                    <td>Ctrl + Shift + P</td>
                  </tr>
                  <tr>
                    <td>Step</td>
                    <td>    </td>
                    <td>Ctrl + Atl + P</td>
                  </tr>
                    <tr>
                    <td>Sign in...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Sign out</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Selection</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Project Settings</td>
                    <td>    </td>
                    <td>
                          <li>  Stuff</li>
                          <li>Stuff</li>
                          <li>Stuff</li>
                          <li>Stuff</li>
                          <li>Stuff</li></td>
                  </tr>
                    <tr>
                    <td>Graphics Emulation</td>
                    <td>    </td>
                    <td>----></td>
                  </tr>
                  <tr>
                    <td>Network Emulation</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Snap Settings...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            
            <h4>Assets </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create</td>
                    <td>Test 1</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Show in Explorer</td>
                    <td>Test 2</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Open</td>
                    <td>Test 3</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Delete</td>
                    <td>Test 4</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Rename</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Open Scene Additive</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Import New Asset...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Import Package</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Export Package...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Find References In Scene</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Select Dependencies</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Refresh</td>
                    <td>    </td>
                    <td>Ctrl + R </td>
                  </tr>
                    <tr>
                    <td>Reimport </td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Reimport All </td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Extract From Prefab </td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Run API Updater... </td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Open C# Project</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>GameObject </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create Empty</td>
                    <td>Test 1</td>
                    <td>Ctrl + Shift + N</td>
                  </tr>
                  <tr>
                    <td>Create Empty Child</td>
                    <td>Test 2</td>
                    <td>Alt + Shift + N</td>
                  </tr>
                  <tr>
                    <td>3D Object</td>
                    <td>Test 3</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>2D Object</td>
                    <td>Test 4</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Effects</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Light</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Audio</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Video</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>UI</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Vuforia</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Camera</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Center On Children</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Make Parent</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Clear Parent</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Apply Changes To Prefab</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Break Prefab Instance</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Set as first sibling</td>
                    <td>    </td>
                    <td>Ctrl +=</td>
                  </tr><tr>
                    <td>Set as last sibling</td>
                    <td>    </td>
                    <td>Ctrl + -</td>
                  </tr>
                    <tr>
                    <td>Move To View</td>
                    <td>    </td>
                    <td>Ctrl + Alt + F</td>
                  </tr>
                  <tr>
                    <td>Align With View</td>
                    <td>    </td>
                    <td>Ctrl + Shift + F</td>
                  </tr>
                    <tr>
                    <td>Align View to Selected</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Toggle Active State</td>
                    <td>    </td>
                    <td>Alt + Shift + A</td>
                  </tr>
      
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Component </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Add...</td>
                    <td>Test 1</td>
                    <td>Ctrl + Shift + A</td>
                  </tr>
                  <tr>
                    <td>Mesh</td>
                    <td>Test 2</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Effects</td>
                    <td>Test 3</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Physics</td>
                    <td>Test 4</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Physics 2D</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Navigation</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Audio</td>
                    <td>    </td>
                    <td>---></td>
                  </tr><tr>
                    <td>Video</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Rendering</td>
                    <td>    </td>
                    <td>---></td>
                  </tr><tr>
                    <td>Tilemap</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Layout</td>
                    <td>    </td>
                    <td>---></td>
                  </tr><tr>
                    <td>Playables</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>AR</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Miscellaneous</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Scripts</td>
                    <td>    </td>
                    <td>---></td>
                  </tr><tr>
                    <td>Analytics</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Event</td>
                    <td>    </td>
                    <td>---></td>
                  </tr><tr>
                    <td>Network</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>XR</td>
                    <td>    </td>
                    <td>---></td>
                  </tr><tr>
                    <td>UI</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>GoogleVR</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
    
            <h4>GoogleVR </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Documentation</td>
                    <td>Test 1</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Editor Settings</td>
                    <td>Test 2</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Report Bug</td>
                    <td>Test 3</td>
                    <td>Unity</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
        
            <h4>Window </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Next Window</td>
                    <td>Test 1</td>
                    <td>Ctrl + Tab</td>
                  </tr>
                  <tr>
                    <td>Previous Window</td>
                    <td>Test 2</td>
                    <td>Ctrl + Shift + Tab</td>
                  </tr>
                  <tr>
                    <td>Layout</td>
                    <td>Test 3</td>
                    <td>---></td>
                  </tr>
                  <tr>
                    <td>Vuforia Configuration</td>
                    <td>Test 4</td>
                    <td>Ctrl + Shift + V</td>
                  </tr>
                  <tr>
                    <td>Package Manager</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Services</td>
                    <td>    </td>
                    <td>Ctrl + 0</td>
                  </tr>
                    <tr>
                    <td>Scene</td>
                    <td>    </td>
                    <td>Ctrl + 1</td>
                  </tr>
                  <tr>
                    <td>Game</td>
                    <td>    </td>
                    <td>Ctrl + 2</td>
                  </tr>
                    <tr>
                    <td>Inspector</td>
                    <td>    </td>
                    <td>Ctrl + 3</td>
                  </tr><tr>
                    <td>Hierarchy</td>
                    <td>    </td>
                    <td>Ctrl + 4</td>
                  </tr>
                    <tr>
                    <td>Project</td>
                    <td>    </td>
                    <td>Ctrl + 5</td>
                  </tr><tr>
                    <td>Animation</td>
                    <td>    </td>
                    <td>Ctrl + 6</td>
                  </tr>
                    <tr>
                    <td>Profiler</td>
                    <td>    </td>
                    <td>Ctrl + 7</td>
                  </tr><tr>
                    <td>Audio Mixer</td>
                    <td>    </td>
                    <td>Ctrl + 8</td>
                  </tr>
                    <tr>
                    <td>Asset Store</td>
                    <td>    </td>
                    <td>Ctrl + 9</td>
                  </tr>
                  <tr>
                    <td>Version Control</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Collab History</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Animator</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Animator Parameter</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Sprite Packer</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Tile Palette</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Experimental</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Holographic Emulation</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Test Runner</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Timeline</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Lighting</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Occlusion Culling</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Frame Dubugger</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Navigation</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr><tr>
                    <td>Physics Debugger</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Console</td>
                    <td>    </td>
                    <td>Ctrl + Shift + C</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            
             <h4>Help </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>About Unity...</td>
                    <td>Test 1</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Manage License...</td>
                    <td>Test 2</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Unity Manual</td>
                    <td>Test 3</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Scripting Reference</td>
                    <td>Test 4</td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Unity Services</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Unity Forum</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Unity Answers</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Unity Feedback</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Check for Updates</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Download Beta...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Release Notes</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Software Licenses</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                    <tr>
                    <td>Report a Bug...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Vuforia</td>
                    <td>    </td>
                    <td>---></td>
                  </tr>
                    <tr>
                    <td>Reset Package to defaults</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                  <tr>
                    <td>Troubleshoot Issue...</td>
                    <td>    </td>
                    <td>Unity</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
     </section>
    
          <p></p>
          
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials2section3">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2section5">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>