<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
      <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <li><a href="codehome">Code</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Going into the Virtual World using Unity!</h2>
          <p>In this tutorial you will be taught how to view your game in Google Cardboard.
          
          This tutorial is still being worked on. So while you can go through the pages there will not be 
          anything on them.
          
          We have cut this tutorial into 4 sections.</p>
          
          <p>Remember, if you ever close any of the windows and want things to go back to normal or default settings, go to 'Window',
          'Layouts', 'Revert Factory Settings...', and then click 'Continue' when asked whether or not you want to revert your settings to 
          default. This will not delete any of your progress and it will just reset all of your windows back to normal. That way, if you're
          following the tutorials but accidentally  delete or exit out of one of the windows, you can easily reset and have things go back to normal. 
          </p>
        </div>
      </header>
      <!-- Content-->
       <div class="wrapper">
        <div class="inner">
        
          <section class="features">
            <article><a href="tutorials4section1" class="image"><img src="images/pic04.jpg" alt=""></a>
              <h3 class="major"> Finishing Google Cardboard</h3>
              <p> We are continuing to work on adding Google Cardboard to our Game.</p><a href="tutorials4section1" class="special">Learn more</a>
            </article>
            <article><a href="tutorials4section2" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Android SDK</h3>
              <p> Android SDK</p><a href="tutorials4section2" class="special">Learn more</a>
            </article>
             <article><a href="tutorials4section3" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major">Putting it on</h3>
              <p>Putting your game on your device</p><a href="tutorials4section3"class="special">Learn more</a>
            </article>
            <article><a href="tutorials4section4" class="image"><img src="images/pic05.jpg" alt=""></a>
              <h3 class="major"> VR Game Testing</h3>
              <p>VR Game Testing</p><a href="tutorials4section4"class="special">Learn more</a>
            </article>
          </section>
        </div>
      </div>
    </section>
     <div class="wrapper">
        <div class="inner">
          <p>You are now finished! Thank you so much for following along. If you want to go to the 
          last tutorial, click Previous. </p>
          <div id="container">
            
            <button id="nextBtn" title="prev"><a href="tutorials3">Previous</a></button>
          </div>
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>