<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
         <h2>Install Unity</h2>
          <p>Awesome! So you downloaded Unity. What now? Well, it's time to 
          install Unity.</p>
          <p>If you have a mac, the instructions will be slightly different, but 
          for the most part they will be exactly the same. I will have any differences
          on here. </p>
          <p>After you accept the terms and conditions and click on the download
          button, Unity will automatically begin downloading onto your computer. </p>
          <h1>INSERT PICS OR SLIDESHOW</h1>
          <p>It will appear at the bottom of your browser like shown in the picture
          above. If it doesn't appear there, check your Downloads folder. If it still
          doesn't appear, give it a few moments and try again. If you are still having
          problems and it is not showing up, try checking the <a href="help">Help Page</a>. </p>
          <p>Is everything looking good? Great!</p>
          <p>Click on the Unity downloader (called UnityDownloadAssistant.exe)</p>
          <p>Once you do, your computer should ask you whether or not you want the app
          to make changes to your device. Click Yes.</p>
          <p>Click Yes only if you get 1. Your parents permission (if you are under age).
          2. Are allowed to run it. </p>
          <p>As we go through the following steps, remember to read through everything.</p>
        <p>Click Next to continue. Read through the Terms of Service, click the box
        to Accept the License Agreement, and click Next. If you want to read the full
        Terms of Service later, go to the <a href="resources">Resources Page</a>.</p>
        <p>Now, we get to choose the components, or parts, of Unity that we want to download.
        The following options have already been clicked on for you.</p>
        <ul>
            <li>Unity 2017.3.Of3 (this may change based on when you download Unity)</li>
            <li>MonoDevelop/Unity Debugger</li>
            <li>Documentation</li>
            <li>Standard Assets</li>
            <li>Example Project</li>
        </ul>
        
        <p>You can choose to check all of the check boxes, but for these tutorials, 
        we are going to check the Android Build Support. If you do not have an Andriod,
        click on the iOS Build Support (for iPhones).</p>
        
        <p>From there, click Next.</p>
        <p>You will now be asked where do you want to install everything to on
        your computer. It is best to follow whatever is there (the default settings)
        and click Next.</p>
        <p>If you want to check where Unity downloads to, you can click Browse.. and
        change its location. Just make sure you remeber where you save everything to!</p>
        
        <p>After you click Next, Unity will begin downloading onto your computer. 
        Just let it do its thing and wait. It will take between 30 minutes to 3 hours
        depending on your computer and internet speed.</p>
        
        <p>After it is done, click Next and Finish.</p>
   
        <h1>MAKE ANOTHER ACCOUNT FOR THIS</h1>
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
         
         
         
    <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials1section1">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>