<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
            <h2>Menu Bar</h2>
          
             <p> </p>
           
             <img src="bootstrap2/images/everything_together2.png" alt="" height="500" width="500">
             <!--<iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe>-->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
          
               
           <p>Welcome to the Menu Bar!</p>
          
          <p>In this tutorial we will be going more into detail about what the Menu Bar is, what are the different
          menus, and some of the stuff they have inside of them. We will not being going deeply into every single item
          because there is a lot of them and it can get tedious.</p>
          
          <p>The Menu Bar is essentially a bar that holds a bunch of menus. That's why it is called a Menu Bar. Each menu 
          is very specific and inside each menu, it has items that does very specific things. 
          
          <p>For example, think of the Menu Bar as your dresser. Each drawer has specific items in them. Let's say 
          your top drawer has your t-shirts and the drawer below that has your pants. You are not going to 
          find a t-shirt inside of your pants drawer. You are going to find your shirt in the t-shirts drawer. 
          Your t-shirt drawer might have tank tops, shirts with buttons, and shirts with strips. It might have
          different kind of shirts, but in the end it has items that go with that theme.</p>
          
          <p>Same thing with the Menu Bar and the menus. Each menu follows a theme so that way we can know where to go
          when we need something.</p>
          
          
          <p></p>In the Menu Bar, the names of our menus are:</p>
          <p><li>File</li>
          <li>Edit</li>
          <li>Assets</li>
          <li>GameObject</li>
          <li>Component</li>
          <li>GoogleVR</li>
         <li>Window</li>
          <li>Help</li></p>
          
          <p>Don't worry if you don't one of these menus in your bar. Actually it's a good thing if you don't. 
          Some of these menus will be added on in Tutorial 3, as we start to build our game.</p> 
          
          <p>In the File menu, we have everything that has to go with saving your project. Here is where
          you will go to save, create, and export your project. If you want to make a new project, you
          can go here to do it. Do you want to take a copy of your game and see it on your phone? We will
          do it through this menu.</p>
          
          <p>In the Edit menu, we have everything that has to do with making changes to your project. Did
          you realize you just made a mistake? You can undo it here. Do you want to copy and then paste something?
          This is where you will go to do it.</p>
          
          <p>The Assets menu is the menu where you can go to add assets to your project. Assets are premade objects
            that someone else made that we can use. Whenever you get a new asset, you can see it in the 
            Project folder at the bottom of the screen.</p>
          
          <p>The GameObject menu is where we can go to make a new object that we can add to our game.
          This is also the place where we can create lights, sounds, and a bunch of different items.</p>
          
          <p>The Component menu is where you can add meshes, physics, and other items to your game objects.
          Meshes are how your game object looks like. Physics include things like adding gravity.</p>
          <p>While we will eventually see the GoogleVR menu, we are not going to directly interact with it. 
          Essentially, this is the menu to go to when you want to report something wrong with GoogleVR or
          look at all of the information behind it.</p>
          <p>The Window menu is a menu that allows you to change and mess with the way the Unity screen looks
          on your computer. If you ever exit out of the Game Scene or move things around, you can go here
          to get everything reset to default, or how it originally looked like when you opened your project. </p>
          <p>In the Help menu, you can go here to check out your version of Unity, go to the Unity forum and ask
          for help, and check for updates. </p>
          
          
           
         <p> Listed below, I have details about some of the items in these menus that we will be using a lot in future
          tutorials. </p>
          
          <p> Don't worry if later on you don't remeber what something does
          or the shortcuts! Every tutorial in the the game making tutorials
          will have a link back to this section or to <p><b><a href="help2">Tutorial 2 Help</a>.</b></p></p>
          
        
           <section>
            <h3 class="major">Table</h3>
            <h4>Default</h4>
         
            <h4>File </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>New Scene</td>
                    <td>Makes a New Scene.</td>
                    <td>Ctrl + N</td>
                  </tr>
                  <tr>
                    <td>Open Scene</td>
                    <td>Opens an existing Scene.</td>
                    <td>Ctrl + O</td>
                  </tr>
                  <tr>
                    <td>Save Scenes</td>
                    <td>Saves the Scene you are working on.</td>
                    <td>Ctrl + S</td>
                  </tr>
                  
                  <tr>
                    <td>New Project...</td>
                    <td>Creates a new project</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Open Project...</td>
                    <td>Opens an existing Project.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Save Project</td>
                    <td>Save the project you are working on.</td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Build Settings...</td>
                    <td>So you can build your project so you can see how it will show on your computer or phone.</td>
                    <td>Ctrl + Shift + B</td>
                  </tr>
                    <tr>
                    <td>Build & Run</td>
                    <td>Allows you to find a project you are working on and allows you to run or see it.</td>
                    <td>Ctrl + B</td>
                  </tr>
                    <tr>
                    <td>Exit</td>
                    <td>This allows you to quit and leave Unity. </td>
                    <td></td>
                  </tr>
                    
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Edit </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Undo</td>
                    <td>Undo what you just did, whether it be an item you created or a mistake you made.</td>
                    <td>Ctrl + Z</td>
                  </tr>
                  <tr>
                    <td>Redo</td>
                    <td>If you just clicked on Undo and you undid or deleted something you actually wanted on accident,
                    this will allow for the item or thing to come back.</td>
                    <td>Ctrl + Y</td>
                  </tr>
                  <tr>
                    <td>Cut</td>
                    <td>You can take a piece or a whole thing and move it somewhere else. Click on Paste when you 
                    know where you want to put it. </td>
                    <td>Ctrl + X</td>
                  </tr>
                  <tr>
                    <td>Copy</td>
                    <td>Did you make an item that you want more than one of or a piece of it? Click on the item and then click on 
                    Copy and you can make a second version of an item that's pretty much a copy of it. To place the item, 
                    Paste it.</td>
                    <td>Ctrl + C</td>
                  </tr>
                  <tr>
                    <td>Paste</td>
                    <td>This allows you to place the item you wanted down.</td>
                    <td>Ctrl + V</td>
                  </tr>
                  <tr>
                    <td>Duplicate</td>
                    <td>Like Copy, this allows you to make another version of something. Unlike Copy, 
                    Duplicate only allows you to copy or make another full version of something and it will automatically
                    Paste it in the location you are in. </td>
                    <td>Ctrl + D</td>
                  </tr>
                    <tr>
                    <td>Delete</td>
                    <td>This allows you to delete something you don't want or need anymore.</td>
                    <td>Shift + Del</td>
                  </tr>
                  <tr>
                    <td>Frame Selected</td>
                    <td>This allows you to select and choose an object in your hierarchy to move it.</td>
                    <td>F</td>
                  </tr>
                  <tr>
                    <td>Find</td>
                    <td>Allows for you to search for an object or item you are looking for.</td>
                    <td>Ctrl + F</td>
                  </tr>
                    <tr>
                    <td>Select All</td>
                    <td>Allows for you to select all of the items.</td>
                    <td>Ctrl + A</td>
                  </tr>
                  <tr>
                    <td>Preferences...</td>
                    <td>VERY IMPORTANT! WILL USE AND GO BACK TO MULTIPLE TIMES!!!!
                    This opens up a different information box (GUI) and allows you to change, edit, and manage
                    some of the behind the scenes aspect of your Unity project. 
                    You can change General, External Tools, Colors, Keys, GI Cache, 2D, and Cache Server.</td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            
            <h4>Assets </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create</td>
                    <td>This is where you can create scripts, which help things happen, as well as other stuff.
                    We will be using this, but through other places, so we will not be going here directly. </td>
                    <td>--->
                          <li>C# Script</li>
                          <li>Prefab</li>
                          </td>
                  </tr>
                
                  <tr>
                    <td>Delete</td>
                    <td>Allows you to delete an object. 
                    You can do the same thing if you right click
                    on the object.</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Rename</td>
                    <td>Allows you to rename the object. You can do the same thing if you right click
                    on the object. </td>
                    <td></td>
                  </tr>
                  
                    <tr>
                    <td>Import New Asset...</td>
                    <td> This will allow you to import, or bring in, a new asset.    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Import Package</td>
                    <td>  This will allow you to import, or bring in, a new package.  </td>
                    <td>--->
                          <li>Custom Package...</li>
                          
                          <li>Cameras</li>
                          <li>Characters</li>
                          <li>Effects</li>
                          <li>Environment</li>
                          
                          <li>Utility</li>
                          <li>Vehicles</li>
                          </td>
                  </tr>
                    <tr>
                    <td>Export Package...</td>
                    <td>This allows you export, or to bring somewhere else not in a Unity, a package. </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Open C# Project</td>
                    <td>This is so we can open Visual Studio.
                    Visual Studio is where we will be adding
                    code that will help our game work. </td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>GameObject </h4>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Create Empty</td>
                    <td>This allows you create an empty item, where we can attach or do stuff to it later.  </td>
                    <td>Ctrl + Shift + N</td>
                  </tr>
                  <tr>
                    <td>Create Empty Child</td>
                    <td>This creates an empty child, or an empty object where we can attach or do stuff to it later. </td>
                    <td>Alt + Shift + N</td>
                  </tr>
                  <tr>
                    <td>3D Object</td>
                    <td> This allows you to make an 3D object that we can use and see in the game.  </td>
                    <td>--->
                          <li>Cube</li>
                          <li>Sphere</li>
                          <li>Capsule</li>
                          <li>Cylinder</li>
                          <li>Plane</li>
                          <li>3D Text</li>
                    </td>
                  </tr>
                 
                  
                  <tr>
                    <td>Light</td>
                    <td>  This allows you to make or fix your lights in your game.  </td>
                    <td>--->
                          <li>Directional Light</li>
                          <li>Point Light</li>
                          <li>Spotlight</li>
                          <li>Area Light</li>
                          <li>Reflection Probe</li>
                          <li>Light ProbeGroup</li>
                      </td>
                  </tr>
                    
                  
                    <tr>
                    <td>UI</td>
                    <td>  This allows you to add and create items to the game itself, so you can
                    see your score, press different buttons, and other stuff. </td>
                    <td>--->
                          <li>Text</li>
                          <li>Image</li>
                          <li>Raw Image</li>
                          <li>Button</li>
                          <li>Canvas</li>
                          <li>Panel</li>
                          <li>Scroll View</li>
                          <li>Event System</li>
                      </td>
                  </tr>
                 
                    <tr>
                    <td>Camera</td>
                    <td>    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Center On Children</td>
                    <td> Focus on the children   </td>
                    <td></td>
                  </tr>
                    <tr>
                    <td>Make Parent</td>
                    <td>  Make an object a parent, or the top item out of a group of items.   </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Clear Parent</td>
                    <td>   Make it so that the object isn't a parent and all of the children or other objects
                    go to back into the normal hierarchy.</td>
                    <td></td>
                  </tr>
                  
                    <tr>
                    <td>Set as first sibling</td>
                    <td>  Make the object directly under the parent.  </td>
                    <td>Ctrl +=</td>
                  </tr><tr>
                    <td>Set as last sibling</td>
                    <td>  Make the object under the last child.   </td>
                    <td>Ctrl + -</td>
                  </tr>
                    
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
            <h4>Component </h4>
            <p>You don't need anything in Physics 2D since we are working in 3D. </p>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                
                  <tr>
                    <td>Mesh</td>
                    <td>     </td>
                    <td>--->
                          <li>Mesh Filter</li>
                          <li>Text Mesh</li>
                          <li>Mesh Renderer</li>
                          <li>Skinned Mesh Renderer</li>
                      </td>
                  </tr>
                 
                  <tr>
                    <td>Physics</td>
                    <td>       </td>
                    <td>--->
                          <li>Rigidbody</li>
                          <li>Character Controller</li>
                          <li>Box Collider</li>
                          <li>Sphere Collider</li>
                          <li>Capsule Collider</li>
                          <li>Mesh Collider</li>
                          <li>Terrain Collider</li>
                          <li>Constant Force</li>
                      </td>
                  </tr>
                  
                 
                    <tr>
                    <td>Rendering</td>
                    <td>    </td>
                    <td>--->
                          <li>Tilemap</li>
                          <li>Tilemap Renderer</li>
                          <li>Tilemap Collider 2D</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Layout</td>
                    <td>    </td>
                    <td>--->
                          <li>Rect Transform</li>
                          <li>Canvas</li>
                          <li>Canvas Group</li>
                          <li>Canvas Scaler</li>
                          <li>Layout Element</li>
                          <li>Content Size Fitter</li>
                          <li>Aspect Ratio Fitter</li>
                          <li>Horizontal Layout Group</li>
                          <li>Vertical Layout Group</li>
                          <li>Grid Layout Group</li>
                      </td>
                  </tr>
                    <tr>
                    <td>Event</td>
                    <td>    </td>
                    <td>--->
                          <li>Event System</li>
                          <li>Event Trigger</li>
                          <li>Physics 2D Raycaster</li>
                          <li>Physics Raycaster</li>
                          <li>Standalone Input Module</li>
                          <li>Graphic Raycaster</li>
                      </td>
                  </tr>
                   <tr>
                    <td>UI</td>
                    <td>    </td>
                    <td>--->
                          <li>Effects ---></li>
                          <li>Text</li>
                          <li>Image</li>
                          <li>Raw Image</li>
                          <li>Mask</li>
                          <li>Rect Mask 2D</li>
                          <li>Button</li>
                          <li>Input Field</li>
                          <li>Toggle</li>
                          <li>Toggle Group</li>
                          <li>Slider</li>
                          <li>Scrollbar</li>
                          <li>Dropdown</li>
                          <li>Scroll Rect</li>
                          <li>Selectable</li>
                      </td>
                  </tr>
                    <tr>
                    <td>GoogleVR</td>
                    <td>    </td>
                    <td>--->
                          <li>Audio ---></li>
                          <li>GvrPointerGraphicRaycaster</li>
                          <li>GvrPointerInputModule</li>
                          <li>GvrPointerPhysicsRaycaster</li>
                      </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
    
            
            <h4>Window </h4>
            <p>This drop down is to help you move around and change your windows, or what you see on your sceen.
            The first time you open Unity, you will see the default screen. What if you wanna see more or less?
            What if you accidently closed something you shouldn't have? </p>
            <p>If you ever want your screen to go back to 
            normal go to Window, then to Layout, and then click on Revert Factory Settings...
            This will reset all of your windows to the default settings. (This will not delete any of your
            work. If it does, check the Help page.)</p>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Where</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Layout</td>
                    <td>These are the different ways your version of Unity
                    can look like. Whenever you accidently delete one of the tabs,
                    just click on Default to get Unity back to where you had it
                    before. </td>
                    <td>--->
                          <li>2 by 3</li>
                          <li>4 Split</li>
                          <li>Default</li>
                          <li>Tall</li>
                          <li>Wide</li>
                          <li>Save Layout...</li>
                          <li>Delete Layout...</li>
                          <li>Revert Factory Settings... This will set everything back to normal.</li></td>
                  </tr>
                 
                 
                    <tr>
                    <td>Scene</td>
                    <td>    </td>
                    <td>Ctrl + 1</td>
                  </tr>
                  <tr>
                    <td>Game</td>
                    <td>    </td>
                    <td>Ctrl + 2</td>
                  </tr>
                    <tr>
                    <td>Inspector</td>
                    <td>    </td>
                    <td>Ctrl + 3</td>
                  </tr><tr>
                    <td>Hierarchy</td>
                    <td>    </td>
                    <td>Ctrl + 4</td>
                  </tr>
                    <tr>
                    <td>Project</td>
                    <td>    </td>
                    <td>Ctrl + 5</td>
                  </tr><tr>
                    <td>Animation</td>
                    <td>    </td>
                    <td>Ctrl + 6</td>
                  </tr>
                    
                    <tr>
                    <td>Asset Store</td>
                    <td>    </td>
                    <td>Ctrl + 9</td>
                  </tr>
                 
                    <tr>
                    <td>Collab History</td>
                    <td>    </td>
                    <td> </td>
                  </tr><tr>
                    <td>Frame Dubugger</td>
                    <td>    </td>
                    <td> </td>
                  </tr>
                    <tr>
                    <td>Console</td>
                    <td>    </td>
                    <td>Ctrl + Shift + C</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            
     </section>
    
          
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials2section2">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials2section4">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>