<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>Tutorials4Unity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bootstrap2/css/main.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie9.css">
    <link rel="stylesheet" href="/bootstrap2/css/ie8.css">
    <link rel="stylesheet" href="/bootstrap2/css/font-awesome.min.css">
    <style></style>
    </head>
    <body>
  <div id="page-wrapper">
    <!-- Header-->
    <header id="header">
      <h1><a href="/">Tutorials4Unity</a></h1>
      <nav><a href="#menu">Menu</a></nav>
       <button onclick="topFunction()" id="myBtn" title="Go to top">Go to the Top</button>
    </header>
    <!-- Menu-->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="tutorialshome">Tutorials</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
          <li><a href="help">Help</a></li>
           <!--<li><a href="login">Log In</a></li>-->
          <!--<li><a href="signup">Sign Up</a></li>-->
        </ul><a href="#" class="close">Close</a>
      </div>
    </nav>
    <!-- Wrapper-->
    <section id="wrapper">
      <header>
        <div class="inner">
          <h2>Download Unity</h2>
          
             <p>Ready to get Started?</p>
             <p>If you would like to go back to any of the previous tutorials,
              please click <a href="tutorialshome">here!</a></p>
            <!-- <iframe width="420" height="315"
          src="https://www.youtube.com/embed/BcmhV3ntdW8">
          </iframe> -->
        </div>
      </header>
      
      <!-- Content-->
      <div class="wrapper">
        <div class="inner">
      
          
          
          <p>First, let’s go to Unity’s <a href= "https://unity3d.com/">website</a>. 
          You can also click on <a href= "https://unity3d.com/">https://unity3d.com/</a>
          to take you there. You should make sure that the page opens up in a
          new tab so that way you can look at this page and at Unity’s page at 
          the same time. </p>
          
          <p>We are now going to click on 'Get Started'. This should be in the middle 
          of the screen.</p>
          
          <p>After doing so, Unity will give you two different sections to choose from,
          Individual and Business. Since we are just a couple people doing this and we 
          are doing this for fun and learning purposes, click on 'Individual'.
          After doing so you will see two 'plans', <b>Personal</b> and <b>Learn Premium</b>.
          For our usage, we will be using <b>Personal</b> because, unlike the other plans
          Unity has, <b>Personal</b> does not charge money. 
          The reason why the other plans charge because they offer other benefits that the Personal 
          plan does not come with. They also are for more experienced users, 
          for organizations and companies, and for those who want to pay for
          courses. Since we are going to be following these tutorials instead, we are just
          going to use the Personal version instead.
          Click on the 'Get Started' button under <b>Personal</b>. </p>
          
          <p>Awesome!</p>
          
          <p>If you are a first time user and have never downloaded Unity before,
          click on 'Start Here' under First-time Users. If you have downloaded and
          used Unity before, but want an updated version, click on 'Go Here' under Returning 
          Users. </p>
          
          
          <p>
            A pop-up should appear asking you the following:
            <ol><li>You do not make more than $100 thousand dollars a year.</li>
            <li>You have not raised money that made more than $100 thousand dollars.</li>
            <li>You are not currently using any of their other plans, like Unity Plus or Unity Pro.</li>
            <li>And that you have read their Terms of Service. (If you haven't please do;
            it is always a good idea to look at these.)</li>
            </ol>
          </p>
          
          <p>The idea behind doing this is to make sure that companies aren't sercretly using thier product and not 
          paying for it. </p>
          
          <p>When you have read everything and are ready, click 'Agree and Download'. Unity should then
          immediately begin downloading. You will have to wait a few minutes for Unity to finish downloading.</p>
          
          <p>If you have used Unity before, the biggest new thing they will as you to do is
          to download Unity Hub. It should immediately begin downloading as well.</p>
          <p>Once you have begun downloading Unity, you are ready for the next section.</p>
     <div class="wrapper">
        <div class="inner">
           <p>Click on the Previous button if you think you missed something in the 
            last part or click the Next button to .</p>
          <div id="container">
            <button id="prevBtn" title="prev"><a href="tutorials1">Previous</a></button>
            <button id="nextBtn" title="next"><a href="tutorials1section2">Next</a></button>
          </div>
    
        </div>
      </div>
    </body>
    <!-- Footer-->
    <section id="footer">
      <div class="inner">
        <ul class="copyright">
          <li>© Untitled Inc. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>
  </div>
  <!-- Scripts-->
  
  <script src="bootstrap2/js/skel.min.js"></script>
  <script src="bootstrap2/js/jquery.min.js"></script>
  <script src="bootstrap2/js/jquery.scrollex.min.js"></script>
  <script src="bootstrap2/js/util.js"></script><!--[if lte IE 8]>
  <script src="bootstrap2/js/ie/respond.min.js"></script><![endif]-->
  <script src="bootstrap2/js/main.js"></script>
</body>